<div
  class="matrix-mode-comp"
  fxFlex
  fxLayout="row"
  fxLayoutAlign="start center"
>
  <button
    class="button-accent matrix-mode-comp-option"
    mat-stroked-button
    color="accent"
    [title]="matrixModes.selected?.tooltip || ''"
    [matMenuTriggerFor]="matrixModesTypes"
  >
    {{ matrixModes.selected?.title | translate }}
    <em class="screenshot-hide"><mat-icon>keyboard_arrow_down</mat-icon> </em>
  </button>
  <mat-menu #matrixModesTypes>
    @for (opt of matrixModes.types; track opt) {
      <button
        mat-menu-item
        [class.selected-item]="opt.mode === matrixModes.selected?.mode"
        (click)="changeMatrixMode(opt)"
      >
        <span [title]="opt.tooltip || ''">
          {{ (opt.title || '') | translate }}
        </span>
      </button>
    }
  </mat-menu>
</div>
