#coocurence-matrix-comp {
  .comp-header {
    margin-top: 1.4em !important;
    margin-bottom: 1em !important;
    overflow-x: auto;

    button {
      white-space: pre-wrap;
      text-transform: none;
    }
  }
  kl-btn-fullscreen {
    margin-left: 1em;
  }

  kl-matrix-toggle {
    position: absolute;
    right: 0 !important;
    padding-right: 0 !important;
    z-index: 1000;
    margin-top: 0.4rem;
  }

  ::ng-deep .mat-mdc-tab-header {
    height: 48px !important;
  }

  ::ng-deep .mat-mdc-tab-labels {
    justify-content: unset !important;
  }

  ::ng-deep .mat-mdc-tab.mdc-tab {
    max-height: 48px !important;
  }
  ::ng-deep .mat-mdc-tab-label.mat-mdc-tab-disabled:hover {
    background-color: transparent !important;
  }
}
