// TODO move to variable
@import "../../../../../theme.scss";

#coocurence-matrix-comp {

	.comp-header {
		margin-top: 1.4em !important;
		margin-bottom: 1em !important;

		button {
			white-space: pre-wrap;
			text-transform: none;
		}
	}

	::ng-deep .mat-tab-disabled {
		opacity: 1 !important;
	}

	::ng-deep .mat-tab-header {
		z-index: 999 !important;
		height: 48px !important;
	}

	::ng-deep .mat-tab-labels {
		justify-content: start !important;
	}

	::ng-deep .mat-tab-label {
		height: 48px !important;
		height: 48px !important;
		margin: 0 !important;
	}

	::ng-deep .mat-tab-label-container {
		width: 100% !important;
	}

	::ng-deep .mat-tab-label.mat-tab-disabled {
		position: absolute !important;
		right: 0 !important;
		padding-right: 0 !important;
	}

	::ng-deep .mat-tab-label.mat-tab-disabled:hover {
		background-color: transparent !important;
	}

	::ng-deep mat-button-toggle-group {
		margin-right: 0.8em;

		::ng-deep .mat-button-toggle-label-content {
			line-height: 34px !important;
			top: -2px !important;
		}

		.mat-button-toggle {
			color: var(--primary) !important;
		}

		.mat-button-toggle-checked {
			color: white !important;
		}

	}
}
