<div id="preparation-2d-view-comp" fxFlexFill>
	<div fxLayout="column" fxFlexFill fxLayoutAlign="center center" *ngIf="loadingView">
		<mat-spinner diameter="40" color="accent" mode="indeterminate"></mat-spinner>
	</div>
	<as-split *ngIf="!loadingView" direction="vertical" (dragEnd)="onSplitDragEnd($event, 'row')">
		<as-split-area [size]="sizes.row[0]">
			<as-split direction="horizontal" (dragEnd)="onSplitDragEnd($event, 'row0Col')">
				<as-split-area [size]="sizes.row0Col[0]">
					<kl-informations-block id="preparation-2d-informations-block-summary"
						title="{{ 'GLOBAL.SUMMARY' | translate }}" [inputDatas]="summaryDatas"></kl-informations-block>
				</as-split-area>
				<as-split-area [size]="sizes.row0Col[1]">
					<app-target-variable-stats-canvas *ngIf="targetVariableStatsDatas"
						id="preparation-2d-target-variable-stats" fxFlexFill [inputDatas]="targetVariableStatsDatas">
					</app-target-variable-stats-canvas>
					<kl-no-data fxFlexFill *ngIf="!targetVariableStatsDatas"></kl-no-data>
				</as-split-area>
			</as-split>
		</as-split-area>
		<as-split-area [size]="sizes.row[1] ">
			<as-split direction="horizontal" (dragEnd)="onSplitDragEnd($event, 'row1Col')">
				<as-split-area [size]="sizes.row1Col[0]">
					<as-split direction="vertical" (dragEnd)="onSplitDragEnd($event, 'row1Col0Row')">
						<as-split-area class="variables-list-container" [size]="sizes.row1Col0Row[0]">
							<kl-ag-grid id="preparation-2d-variables-list" class="variables-list" fxFlexFill
								[showLevelDistribution]="true" [levelDistributionTitle]="levelDistributionTitle"
								[showSearch]="true" [watchResize]="true" [displayCount]="true"
								(selectListItem)="onSelectListItemChanged($event)" [showLineSelection]="true"
								[showColumnsSelection]="true" [rowHeight]="30" [inputDatas]="variables2dDatas"
								[displayedColumns]="variablesDisplayedColumns"
								title="{{ 'GLOBAL.PAIR_VARIABLES' | translate }}"
								titleTooltip="{{ 'TOOLTIPS.PREPARATION_2D.VARIABLES.TITLE' | translate }}"
								[selectedVariable]="preparation2dDatas.selectedVariable"
								(showLevelDistributionGraph)="onShowLevelDistributionGraph($event)">
							</kl-ag-grid>
						</as-split-area>
					</as-split>
				</as-split-area>
				<as-split-area [size]="sizes.row1Col[1]">
					<app-var-details-preparation-2d></app-var-details-preparation-2d>
				</as-split-area>
			</as-split>
		</as-split-area>
	</as-split>
</div>
