<div id="unfold-hierarchy-comp" fxFlexFill #unfoldHierarchy fxLayout="row">
  <div
    fxLayout="column"
    fxFlexFill
    fxLayoutAlign="center center"
    *ngIf="!clustersPerDimDatas || loadingHierarchy"
  >
    <mat-spinner
      diameter="40"
      color="accent"
      mode="indeterminate"
    ></mat-spinner>
  </div>
  <div
    fxFlexFill
    fxLayout="column"
    *ngIf="clustersPerDimDatas && !loadingHierarchy"
  >
    <div
      fxLayout="row"
      id="unfold-hierarchy-header"
      fxLayoutAlign="center center"
    >
      <h2 fxFlex>
        {{ 'GLOBAL.UNFOLD_HIERARCHY' | translate | uppercase }}
      </h2>
      <button mat-stroked-button (click)="onClickOnCancel()">
        {{ 'GLOBAL.CANCEL' | translate }}
      </button>
      <button
        class="button-confirm-hierarchy"
        mat-flat-button
        matRipple
        [matRippleColor]="'rgba(122 122 122 / 0.4)'"
        (click)="onClickOnSave()"
        color="primary"
      >
        {{ 'GLOBAL.OK' | translate }}
      </button>
    </div>

    <as-split id="unfold-hierarchy-content" direction="horizontal">
      <as-split-area fxLayout="column">
        <kl-unfold-hierarchy-settings
          [currentUnfoldHierarchy]="currentUnfoldHierarchy"
          [hierarchyDatas]="hierarchyDatas"
          [currentCellsPerCluster]="currentCellsPerCluster"
          [currentInformationPerCluster]="currentInformationPerCluster"
          [cyInput]="cyInput"
          (hierarchyChanged)="onHierarchyChanged($event)"
          (increase)="increaseUnfoldHierarchy()"
          (decrease)="decreaseUnfoldHierarchy()"
          (cyInputSet)="setCypressInput($event)"
        ></kl-unfold-hierarchy-settings>

        <div
          fxFlex
          id="unfold-hierarchy-table"
          fxLayout="column"
          class="kl-card"
        >
          <kl-ag-grid
            fxFlex
            [showSearch]="false"
            [showColumnsSelection]="false"
            [inputDatas]="dimensions"
            [title]="unfoldHierarchyTableTitle"
            (gridCheckboxChanged)="onGridCheckboxChanged($event)"
            [rowSelection]="'multiple'"
            [displayedColumns]="hierarchyDisplayedColumns"
          ></kl-ag-grid>
        </div>
      </as-split-area>
      <as-split-area fxLayout="column">
        <as-split direction="vertical" disabled="true">
          <as-split-area fxLayout="column">
            <div fxFlex fxLayout="column" class="kl-card">
              <div
                fxLayout="row"
                fxLayoutAlign="start center"
                class="comp-header"
              >
                <div fxFlex fxLayout="row" fxLayoutAlign="start center">
                  <h1>{{ 'GLOBAL.INFORMATION_RATE' | translate }}</h1>
                </div>
              </div>
              <kl-chart
                title="{{
                  'TOOLTIPS.AXIS.UNFOLD_HIERARCHY.INFO_RATE_CHART' | translate
                }}"
                [canvasIdContainer]="'info-per-cluster-graph'"
                fxFlex
                [inputDatas]="infoPerCluster"
                [enableSelection]="false"
                [colorSet]="colorSetInfoPerCluster"
                [chartOptions]="infoPerClusterChartOptions"
              >
              </kl-chart>
            </div>
          </as-split-area>

          <as-split-area fxLayout="column">
            <div fxFlex fxLayout="column" class="kl-card">
              <div
                fxLayout="row"
                fxLayoutAlign="start center"
                class="comp-header"
              >
                <div fxFlex fxLayout="row" fxLayoutAlign="start center">
                  <h1>
                    {{ 'GLOBAL.NB_OF_CLUSTERS_PER_DIM' | translate }}
                  </h1>
                </div>
                <kl-legend
                  fxLayoutAlign="end end"
                  fxLayout="row"
                  [inputDatas]="legend"
                  [type]="'chart-nd'"
                  tooltip="{{
                    'TOOLTIPS.AXIS.UNFOLD_HIERARCHY.LEGEND' | translate
                  }}"
                  (legendItemClicked)="highlightChartLine($event)"
                  [colorSet]="colorSetClusterPerDim"
                >
                </kl-legend>
              </div>
              <kl-chart
                [canvasIdContainer]="'clusters-per-dim-graph'"
                fxFlex
                [inputDatas]="clustersPerDimDatas"
                [enableSelection]="false"
                [colorSet]="colorSetClusterPerDim"
                [selectedLineChartItem]="selectedLineChartItem"
                [chartOptions]="clustersPerDimDatasChartOptions"
              >
              </kl-chart>
            </div>
          </as-split-area>
        </as-split>
      </as-split-area>
    </as-split>
  </div>
</div>
