#unfold-hierarchy-comp {
  #unfold-hierarchy-content {
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;

    kl-chart {
      min-height: 135px;
    }

    #unfold-hierarchy-table {
      margin-top: 12px;

      kl-ag-grid {
        min-height: 242px;
        max-height: 242px;

        ::ng-deep .ag-center-cols-viewport {
          overflow-x: hidden;
        }
      }
    }
  }

  ::ng-deep .chart-legend li:last-child {
    display: none !important;
  }

  ::ng-deep .chart-legend .legend-wrap {
    width: calc(100% - 40px) !important;
  }
}

::ng-deep .unfold-hierarchy-dialog-container {
  .mat-mdc-dialog-surface {
    background-color: var(--bg-color-20) !important;
  }
}
