#unfold-hierarchy-comp {
  background-color: var(--bgColor) !important; // for copy image

  #unfold-hierarchy-header {
    padding: 0 0 1em 0;
    height: 68px;

    h2 {
      margin-left: 1em;
    }

    button {
      margin-right: 1em;
    }
  }

  #unfold-hierarchy-content {
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;

    kl-chart {
      min-height: 135px;
    }

    #unfold-hierarchy-table {
      margin-top: 3em;

      kl-ag-grid {
        min-height: 242px;
        max-height: 242px;

        ::ng-deep .ag-center-cols-viewport {
          overflow-x: hidden;
        }
      }
    }
  }

  ::ng-deep .chart-legend li:last-child {
    display: none !important;
  }

  ::ng-deep .chart-legend .legend-wrap {
    width: calc(100% - 40px) !important;
  }
}
