<div 
  class="dialog-wrapper" 
  [class.active]="(dialogContent$ | async)?.type !== 'none'"
  fxLayout="row" 
  fxFlexFill 
  fxLayoutAlign="center center"
  *ngIf="(dialogContent$ | async) as dialogContent"
>
  <div class="dialog-overlay" fxFlexFill (click)="closeDialog()" *ngIf="dialogContent.type !== 'none'"></div>
  <div 
    class="dialog-content" 
    fxLayout="column" 
    *ngIf="dialogContent.type !== 'none'"
    [style.width]="dialogContent.config?.width"
    [style.height]="dialogContent.config?.height"
    [style.max-width]="dialogContent.config?.maxWidth"
    [style.max-height]="dialogContent.config?.maxHeight"
    [class]="dialogContent.config?.panelClass"
  >
    <!-- Close button -->
    <div class="dialog-header" fxLayout="row" fxLayoutAlign="end center">
      <button 
        mat-icon-button 
        class="close-button"
        (click)="closeDialog()"
        aria-label="Close dialog"
      >
        <mat-icon>close</mat-icon>
      </button>
    </div>

    <!-- Dynamic Component Container -->
    <div class="dialog-body" fxFlex *ngIf="dialogContent.componentType">
      <ng-container #dynamicComponentContainer></ng-container>
    </div>
  </div>
</div>
