<div
  id="cooccurrence-matrix-comp"
  fxFlexFill
  fxLayout="column"
  [ngClass]="{ fullscreen: isFullscreen }"
>
  <!-- important to have a main first child for copy images #343 -->
  <div fxFlexFill>
    <div
      class="cooccurrence-matrix-tools"
      fxLayout="row"
      [hidden]="!preparation2dDatas?.matrixDatas"
    >
      <kl-matrix-toggle
        class="screenshot-hide"
        [matrixOptions]="matrixOptions"
      ></kl-matrix-toggle>
      <kl-btn-fullscreen
        class="screenshot-hide"
        (toggleFullscreen)="onToggleFullscreen($event)"
      >
      </kl-btn-fullscreen>
    </div>
    <mat-tab-group
      [animationDuration]="0"
      fxFlexFill
      [@.disabled]="true"
      [selectedIndex]="0"
      fxLayout="column"
      color="primary"
      [hidden]="!preparation2dDatas?.matrixDatas"
      (selectedTabChange)="onSelectedMatrixTabChanged($event)"
    >
      <mat-tab label="{{ 'GLOBAL.MATRIX' | translate }}">
        <ng-template matTabContent>
          <div fxFlexFill fxLayout="column">
            <div
              fxLayout="row"
              fxLayoutAlign="start center"
              class="comp-header"
            >
              <div fxFlex fxLayout="row" fxLayoutAlign="start center">
                <div fxFlex fxLayout="row" fxLayoutAlign="start center">
                  <h2
                    title="{{
                      'TOOLTIPS.PREPARATION_2D.COOCCURRENCE_MATRIX.TITLE'
                        | translate
                    }}"
                  >
                    {{ 'GLOBAL.COOCCURRENCE' | translate }}
                  </h2>
                  <kl-matrix-mode
                    [matrixModes]="matrixModes"
                    (matrixModeChange)="changeMatrixMode($event)"
                  >
                  </kl-matrix-mode>
                </div>
                @if (matrixTargets.selected) {
                  <div fxLayout="row" fxLayoutAlign="start center">
                    <h2>{{ 'GLOBAL.TARGET' | translate }}</h2>
                    <button
                      class="button-accent"
                      mat-stroked-button
                      color="accent"
                      [matMenuTriggerFor]="matrixSelectTargets"
                    >
                      {{ matrixTargets.selected }}
                      <em class="screenshot-hide"
                        ><mat-icon>keyboard_arrow_down</mat-icon>
                      </em>
                    </button>
                    <mat-menu #matrixSelectTargets>
                      @for (target of matrixTargets.targets; track target) {
                        <button
                          mat-menu-item
                          [class.selected-item]="
                            target === matrixTargets.selected
                          "
                          (click)="changeMatrixTarget(target)"
                        >
                          {{ target }}
                        </button>
                      }
                    </mat-menu>
                  </div>
                }
              </div>
            </div>
            <kl-matrix
              #matrix
              fxFlex
              fxLayout="row"
              (cellSelected)="onCellSelected($event)"
              [id]="'cooccurrence-matrix-comp'"
              [selectedCell]="preparation2dDatas?.selectedCell"
              [isAxisInverted]="preparation2dDatas?.isAxisInverted"
              [minMaxValues]="minMaxValues"
              (matrixAxisInverted)="onMatrixAxisInverted()"
              [inputDatas]="preparation2dDatas?.matrixDatas"
              [graphTargets]="matrixTargets.targets"
              [graphType]="matrixOptions.selected"
              [graphMode]="matrixModes.selected"
              [graphTarget]="matrixTargets.selected"
              [showExpectedFrequency]="!preparation2dDatas?.isSupervised"
            >
            </kl-matrix>
          </div>
        </ng-template>
      </mat-tab>
      <mat-tab label="{{ 'GLOBAL.CELLS' | translate }}">
        <ng-template matTabContent>
          <div class="variables-list-container" fxFlexFill>
            <kl-ag-grid
              id="cooccurrence-matrix-cells-container"
              class="variables-list"
              [showFullscreenBtn]="false"
              [showSearch]="false"
              [displayCount]="false"
              [selectedVariable]="preparation2dDatas?.selectedCell"
              (selectListItem)="onSelectCellRowChanged($event)"
              [showLineSelection]="true"
              [showColumnsSelection]="false"
              [inputDatas]="matrixCells?.values"
              [title]="matrixCells?.title"
              [displayedColumns]="matrixCells?.displayedColumns"
            >
            </kl-ag-grid>
          </div>
        </ng-template>
      </mat-tab>
    </mat-tab-group>
    <kl-no-data
      fxFlexFill
      [hidden]="preparation2dDatas?.matrixDatas"
    ></kl-no-data>
  </div>
</div>
