<div
  class="kl-dialog-wrapper"
  [class.active]="
    dialogContent().type !== 'none' &&
    !dialogContent().config?.noOverlay
  "
  [class.no-overlay]="dialogContent().config?.noOverlay"
  fxLayout="row"
  fxFlexFill
  fxLayoutAlign="center center"
  [hidden]="$safeNavigationMigration(dialogContent().config?.hidden)"
  *ngIf="dialogContent() as content"
>
  <div
    class="dialog-overlay"
    fxFlexFill
    (click)="onBackdropClick()"
    *ngIf="content.type !== 'none' && !content.config?.noOverlay"
  ></div>
  <div
    class="dialog-content"
    fxLayout="column"
    *ngIf="content.type !== 'none'"
    [style.width]="content.config?.width"
    [style.height]="content.config?.height"
    [style.max-width]="content.config?.maxWidth"
    [style.max-height]="content.config?.maxHeight"
    [class]="content.config?.panelClass"
  >
    <!-- Dynamic Component Container -->
    <div class="dialog-body" fxFlex *ngIf="content.componentType">
      <ng-container #dynamicComponentContainer></ng-container>
    </div>
  </div>
</div>
