<div id="confirm-dialog-comp">
  @if (title) {
    <h1 style="margin-left: 0; margin-bottom: 1.5rem">
      {{ title }}
    </h1>
  }
  <mat-dialog-content>
    {{ message }}
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button [mat-dialog-close]="'confirm'" cdkFocusInitial>
      {{ confirmButtonText }}
    </button>
    @if (displayRejectBtn) {
      <button mat-button [mat-dialog-close]="'reject'">
        {{ 'GLOBAL.NO' | translate }}
      </button>
    }
    @if (displayCancelBtn) {
      <button mat-button [mat-dialog-close]="'cancel'">
        {{ 'GLOBAL.CANCEL' | translate }}
      </button>
    }
  </mat-dialog-actions>
</div>
