<div class="graph-options-menu-comp">
  <button
    mat-stroked-button
    color="primary"
    [matMenuTriggerFor]="graphOptionsTypes"
  >
    {{ graphOptions?.selected | translate }}
    <em><mat-icon>keyboard_arrow_down</mat-icon> </em>
  </button>
  <mat-menu #graphOptionsTypes>
    <button
      mat-menu-item
      *ngFor="let opt of graphOptions?.types"
      (click)="changeGraphOption(opt)"
      [class.selected-item]="opt === graphOptions?.selected"
    >
      {{ opt | translate }}
    </button>
  </mat-menu>
</div>
