<div class="project-logs-comp" fxFlexFill>
  @if (projectLogsDatas) {
    <kl-ag-grid
      id="project-logs"
      class="variables-list"
      fxFlexFill
      [showSearch]="false"
      [displayCount]="false"
      [showLineSelection]="false"
      [title]="logsTitle"
      [showColumnsSelection]="false"
      [inputDatas]="projectLogsDatas"
      [displayedColumns]="logsDisplayedColumns"
    >
    </kl-ag-grid>
  }
  @if (!projectLogsDatas) {
    <kl-no-data fxFlexFill [message]="'NO_DATAS.NO_LOGS'"> </kl-no-data>
  }
</div>
