.header-manage-view-comp {
	margin-right: 1em;

	button {
		height: 33px !important;
		min-width: 38px !important;
		padding: 0 !important;
		margin-right: 5px !important;

		mat-icon {
			font-size: 22px !important;
		}
	}
}
