<div class="header-manage-view-comp">
  <button
    mat-flat-button
    color="warn"
    matTooltip="{{ 'MENU.IMPORT_EXTERNAL_DATA' | translate }}"
    (click)="clickImportExternalData()"
    attr.aria-label="{{ 'MENU.IMPORT_EXTERNAL_DATA' | translate }}"
  >
    <mat-icon>file_upload</mat-icon>
  </button>
  <button
    class="button-unfold-hierarchy"
    mat-flat-button
    color="warn"
    matTooltip="{{ 'GLOBAL.UNFOLD_HIERARCHY_DESC' | translate }}"
    (click)="clickUnfodHierarchy()"
    attr.aria-label="{{ 'GLOBAL.UNFOLD_HIERARCHY_DESC' | translate }}"
  >
    <mat-icon>timeline</mat-icon>
  </button>
  <button
    class="button-manage-views"
    mat-flat-button
    color="warn"
    attr.aria-label="{{ 'GLOBAL.MANAGE_VIEWS_DESC' | translate }}"
    matTooltip="{{ 'GLOBAL.MANAGE_VIEWS_DESC' | translate }}"
    (click)="clickManageLayout()"
  >
    <mat-icon>view_compact</mat-icon>
  </button>
</div>
