<div id="select-trained-predictor-comp" fxLayout="row" fxLayoutAlign="start center" class="comp-header mat-elevation-z1">
	<h1>{{ 'GLOBAL.SELECT_TRAINED_PREDICTOR' | translate }}</h1>
	<div class="comp-header-tools screenshot-hide" fxLayout="row">
		<button class="button-accent" mat-stroked-button color="accent" [matMenuTriggerFor]="trainedPredictors">{{ selectedPredictor }} <em>v</em></button>
		<mat-menu #trainedPredictors>
			<button mat-menu-item *ngFor="let opt of inputDatas"  (click)="changeTrainedPredictorsType(opt)">{{ opt.name  }}</button>
		</mat-menu>
	</div>
</div>
