<div
  id="select-trained-predictor-comp"
  fxLayout="row"
  fxLayoutAlign="start center"
>
  <h1>{{ 'GLOBAL.SELECT_TRAINED_PREDICTOR' | translate }}</h1>
  <div class="comp-header-tools screenshot-hide" fxLayout="row">
    <button
      class="button-accent"
      mat-stroked-button
      color="accent"
      [matMenuTriggerFor]="trainedPredictors"
    >
      {{ selectedPredictor }} <em><mat-icon>keyboard_arrow_down</mat-icon> </em>
    </button>
    <mat-menu #trainedPredictors>
      @for (opt of inputDatas; track opt.name) {
        <button
          mat-menu-item
          [class.selected-item]="opt.name === selectedPredictor"
          (click)="changeTrainedPredictorsType(opt)"
        >
          {{ opt.name }}
        </button>
      }
    </mat-menu>
  </div>
</div>
