.legend-comp {
  display: flex;

  .legend {
    border-radius: 5px;
    padding: 0.4em 0 0.4em 0.8em;
    display: initial;
    overflow: auto;
    margin: 0 1em;
    max-height: 54px;
    display: flex;

    .legend-item {
      margin-right: 1em;
      float: left;
      cursor: default;

      span {
        color: var(--bgColorContrast) !important;
        font-size: 0.9em;
      }
      .square {
        border: 2px solid transparent;
      }
    }

    .legend-item.legend-selected {
      font-weight: bold;

      .square {
        border: 2px solid black;
      }
    }
  }
}

.legend {
  .square {
    height: 10px;
    width: 10px;
    margin-right: 5px;
    border-radius: 3px;
    border: 1px solid white;
  }
}

.legend-comp.bottom {
  margin-bottom: 1em;
}

.legend-comp.top {
  margin: 0.6em 0;
}
