#import-ext-datas-list-comp {
  padding-bottom: 1.6em;

  #import-ext-datas-header {
    height: 68px;

    h2 {
      margin-left: 1em;
    }

    button {
      margin-left: 1em;
    }
  }

  #import-ext-datas-content {
    overflow: hidden;

    #import-ext-datas-list-table {
      width: 100%;
      padding: 1em;
      margin-bottom: 1em;
      h1 {
        width: 100%;
        text-align: left;
      }
    }
  }

  #import-ext-datas-content-empty {
    margin: 3em;

    span {
      text-align: center;
    }
  }

  kl-ag-grid {
    // border: 1px solid var(--border-color);
    min-height: 350px;
    max-height: 350px;
    height: 350px !important;
    width: 100% !important;
    ::ng-deep .ag-center-cols-viewport {
      overflow-x: hidden;
    }
  }
}
