.unitdisk-nav {
  svg {
    cursor: default;

    .cell {
      pointer-events: none;
    }
    .arc {
      pointer-events: none;
    }
    .node {
      pointer-events: none;
    }
    @keyframes nodefadein {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }

    .caption {
      font-size: 0.002em;
      font-weight: 300;
      user-select: none;
      pointer-events: none;
      text-rendering: optimizeSpeed;
    }

    @keyframes fade-in {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }

    .caption-background {
      pointer-events: none;
    }

    .label-link {
      stroke-width: 0.02;
      stroke-dasharray: 0.001;
      stroke-linecap: round;
    }

    .background-circle {
      pointer-events: none;
    }
    .mouse-circle {
      pointer-events: visibleFill;
      fill: none;
    }
    .mouse-circle-cursor {
      pointer-events: visibleFill;
      fill: none;
      cursor: default;
    }

    .ripple-world {
      pointer-events: none;
      cursor: default;
    }
    .ripple-circle {
      pointer-events: none;
      cursor: default;
      opacity: 0;
      animation: ripple 500ms ease-out;
    }
    @keyframes ripple {
      0% {
        transform: scale(0);
        opacity: 0.8;
      }
      12% {
        transform: scale(0.45);
        opacity: 0.8;
      }
      100% {
        opacity: 0;
        transform: scale(3);
      }
    }

    #path-arcs {
      opacity: 0.3;
      display: none !important;
    }
    #stem-path {
      opacity: 0.3;
    }

    .focus-circle {
      pointer-events: none;
    }
    .ping-circle {
      opacity: 1;
      pointer-events: none;
    }
    .trace-polyline {
      opacity: 0.8;
      stroke: orange; //#8d6e63;
      stroke-width: 0.03;
      stroke-linecap: round;
      stroke-linejoin: round;
      fill: none;
      pointer-events: none;
    }

    .center-node {
      animation: centernodemove 500ms ease-out; // infinite;
      stroke: none;
      stroke-width: 0.006;
    }

    @keyframes centernodemove {
      0% {
        transform: scale(0);
        transform: rotate(1);
      }
      10% {
        transform: scale(0);
      }
      75% {
        transform: scale(0.1);
      }
      80%,
      100% {
      }
    }

    .nav-parameter-disc {
      .caption {
        dominant-baseline: middle;
        text-anchor: middle;
        font-size: 0.16pt;
      }
      .caption.P {
        font-size: 0.48pt;
        font-weight: 100;
      }
      .background-circle {
        pointer-events: none;
      }
      .mouse-circle {
        pointer-events: visibleFill;
        cursor: default;
      }
    }

    .nav-background-disc {
      .background-circle {
        pointer-events: none;
      }
      .caption {
        font-size: 0.005em;
      }
      .label-big {
        font-size: 0.0095em;
        font-weight: 300;
        paint-order: stroke;
        stroke-width: 0.04;
      }
    }
  }
}
