#regression-matrix-comp {
  .comp-header {
    margin-top: 1.4em !important;
    margin-bottom: 1em !important;
    overflow-x: auto;

    button {
      text-transform: none;
      white-space: pre-wrap;
    }
  }

  // ::ng-deep .mat-tab-labels {
  //   justify-content: start !important;
  // }

  // ::ng-deep .mat-tab-label-container {
  //   width: 100% !important;
  // }

  // ::ng-deep .mat-tab-label.mat-tab-disabled {
  //   position: absolute !important;
  //   right: 0 !important;
  //   padding-right: 0 !important;
  // }

  // ::ng-deep .mat-tab-label.mat-tab-disabled:hover {
  //   background-color: transparent !important;
  // }

}
