#matrix-comp {
  padding-top: 0em;
  position: relative;
  overflow: hidden;
  background: transparent;
  margin: 1px;

  kl-cell-stats {
    width: calc(100% - 2px) !important; // for selectable border
  }

  #matrix-loading {
    position: absolute;
    background: var(--bg-color) !important;
    z-index: 100;
  }

  button {
    transition:
      color 0.2s ease,
      background-color 0.2s ease,
      transform 0.3s ease;
    margin: 0em 0.2em;
    mat-icon {
      font-size: 24px !important;
    }
  }

  button.invert-axis.toggled-false {
    mat-icon {
      color: var(--primary) !important;
    }
  }

  button.invert-axis.toggled-true {
    background: var(--primary) !important;
    transform: rotate(180deg);

    mat-icon {
      color: white;
    }
  }

  button.toggle-zero.toggled-true {
    transform: rotate(180deg);
  }

  #matrix-area {
    width: 50px; // important everything but 100% (min width)
    height: 100%;
    overflow: auto;
    border: 1px solid var(--bg-color-10);

    #matrix-container {
      height: 100%;
      width: 100%;
      position: relative;
      background-color: white;

      #matrix {
        position: absolute;
        top: 0;
        left: 0;
      }

      #matrix-selected {
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }

  .axis-matrix {
    font-size: 0.95em;
    font-weight: 500;
    color: var(--primary-10);
    background: var(--bg-color-30);
    padding: 1px 5px;
    border-radius: 4px;
    margin: 4px 0;
  }

  #y-axis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    min-height: 0;
    position: relative;
    display: flex;
    margin: 2px 0;
    min-width: 2rem; // important to be displayed on screenshots

    span {
      transform: rotate(-90deg);
      position: absolute;
    }
  }

  #x-axis {
    max-height: 32px;
    min-height: 32px;

    span {
      margin-top: 6px !important;
    }
  }
  #matrix-comp-left {
    min-width: 42px;
  }
  #matrix-comp-right {
    max-width: 60px;
    width: 60px;

    #contrast {
      margin-bottom: 1em;

      span {
        font-size: 10px;
      }
    }

    mat-slider {
      transform: rotate(-90deg);
      margin-top: 20px;
      margin-bottom: 20px;
    }

    #legend {
      font-size: 0.9em;

      #legend-bar {
        border: 1px solid #999;
        width: 14px;
      }

      #legend-max,
      #legend-min {
        text-overflow: ellipsis;
        overflow: hidden;
        width: 50px;
        height: 1.5em;
        white-space: nowrap;
        text-align: center;
      }
    }
  }
}

::ng-deep .selected-cell {
  stroke-opacity: 1;
  stroke: black;
  outline: 0.1em solid white;
}

::ng-deep .selected-cell-bold {
  stroke-width: 2;
}

::ng-deep .selected-cell-thin {
  stroke-width: 0.5;
}

::ng-deep .selected-cell.frequency {
  stroke: #6a90c1;
}

::ng-deep #matrix-tooltip {
  text-align: left;
}

kl-matrix-tooltip {
  z-index: 99999 !important;
}
