<div class="file-loader-comp">
  @if (!fileLoaderDatas.isLoadingDatas) {
    <div fxLayout="column" fxLayoutAlign="center center">
      <button
        type="button"
        mat-flat-button
        color="primary"
        (click)="onClickOpen(fileInput)"
      >
        {{ translate.get('GLOBAL.OPEN_FILE') }}
      </button>
      <input
        hidden
        (change)="openFileDialog($event)"
        #fileInput
        type="file"
        id="file"
        [accept]="associationFiles"
      />
    </div>
  }
  @if (fileLoaderDatas.isLoadingDatas && !fileLoaderDatas.datas) {
    <div id="loading-indicator">
      <mat-spinner
        diameter="40"
        color="accent"
        mode="indeterminate"
      ></mat-spinner>
      @if (!fileLoaderDatas.isBigJsonFile) {
        <span attr.aria-label="{{ translate.get('GLOBAL.LOADING_FILE') }}"
          >{{ translate.get('GLOBAL.LOADING_FILE') }} ...</span
        >
      }
      @if (fileLoaderDatas.isBigJsonFile) {
        <span attr.aria-label="{{ translate.get('GLOBAL.LOADING_FILE') }}">{{
          translate.get('GLOBAL.BIG_FILES_LOADING_WARNING')
        }}</span>
      }
      @if (fileLoaderDatas.isBigJsonFile) {
        <span
          >{{ translate.get('GLOBAL.LOADING') }}
          {{ fileLoaderDatas.loadingInfo }}</span
        >
      }
    </div>
  }
  <!-- DO NOT REMOVE - used by cypress to load files -->
  <div style="display: none">
    <button
      id="open-file-button"
      type="button"
      mat-flat-button
      color="primary"
      (click)="loadDebugFile(cyInputText)"
    >
      {{ translate.get('GLOBAL.OPEN_FILE') }}
    </button>
    <input
      [(ngModel)]="cyInputText"
      #fileInput
      type="text"
      id="open-file-input"
    />
  </div>
  <!-- END DO NOT REMOVE -->
</div>
