<div id="user-settings-comp" fxFlexFill fxLayout="column">
  <div
    fxLayout="row"
    id="user-settings-header"
    class="mat-elevation-z1"
    fxLayoutAlign="center center"
  >
    <button mat-flat-button (click)="onClickOnCancel()">
      {{ 'GLOBAL.CANCEL' | translate }}
    </button>
    <h2 fxFlex>{{ 'GLOBAL.SETTINGS' | translate }}</h2>
    <button mat-stroked-button (click)="onClickOnSave()" color="primary">
      {{ 'GLOBAL.SAVE' | translate }}
    </button>
  </div>
  <div fxLayout="column" id="user-settings-content" fxLayoutAlign="start start">
    <h2>{{ 'SETTINGS.NUMBER_PRECISION' | translate }}</h2>
    <div fxLayout="row" fxLayoutAlign="start center">
      <mat-slider
        color="primary"
        attr.aria-label="{{
          'ARIA.SETTINGS.UPDATE_NUMBER_PRECISION' | translate
        }}"
        [min]="1"
        [max]="8"
        [step]="1"
      >
        <input
          [value]="numberPrecision"
          matSliderThumb
          (valueChange)="numberPrecision = $event"
        />
      </mat-slider>
      <span>{{ numberPrecision }} {{ 'SETTINGS.NUMBER' | translate }}</span>
    </div>
    <h2>{{ 'GLOBAL.MATRIX_DEFAULT_CONTRAST' | translate }}</h2>
    <div fxLayout="row" fxLayoutAlign="start center">
      <mat-slider
        color="primary"
        attr.aria-label="{{
          'ARIA.SETTINGS.UPDATE_DEFAULT_MATRIX_CONTRAST' | translate
        }}"
        [max]="90"
        [min]="0"
        [step]="10"
      >
        <input
          [value]="contrastValue"
          matSliderThumb
          (valueChange)="contrastValue = $event"
        />
      </mat-slider>
      <span>{{ contrastValue }} %</span>
    </div>
    <h2>{{ 'COOKIE_CONSENT.TITLE' | translate }}</h2>
    <div fxLayout="row" fxLayoutAlign="start center">
      <mat-slide-toggle color="primary" [(ngModel)]="allowCookies">
        {{ 'COOKIE_CONSENT.MESSAGE' | translate }}
      </mat-slide-toggle>
    </div>
    <kl-clear-ls></kl-clear-ls>
    <kl-npm-version></kl-npm-version>
  </div>
</div>
