#user-settings-comp {
	width: 460px !important;
	background-color: var(--bgColor-10) !important;

	h2 {
		text-align: center;
		text-transform: uppercase;
		margin: 0;
	}

	#user-settings-header {
		padding: 1em;
		height: 58px;
	}

	#user-settings-content {
		padding: 2em;
		overflow: auto;

		h2 {
			margin-top: 2em;
		}

		#user-settings-clear-datas {
			h2 {
				margin-top: 3em;
				margin-bottom: 1em;
			}

			button {
				margin-right: 1em;
			}
		}

		#user-settings-dark-mode {
			h2 {
				margin-top: 3em;
				margin-bottom: 1em;
			}
		}
	}

	::ng-deep mat-slide-toggle {
		margin-top: 20px;

		span {
			white-space: pre-wrap;
		}
	}
}
