<div id="user-settings-comp" fxFlexFill fxLayout="column">
	<div fxLayout="row" id="user-settings-header" class="mat-elevation-z1" fxLayoutAlign="center center">
		<button mat-stroked-button (click)="onClickOnCancel()">{{ 'GLOBAL.CANCEL' | translate }}</button>
		<h2 fxFlex>{{ 'GLOBAL.SETTINGS' | translate }}</h2>
		<button mat-flat-button (click)="onClickOnSave()" color="primary">{{ 'GLOBAL.SAVE' | translate }}</button>
	</div>
	<div fxLayout="column" id="user-settings-content" fxLayoutAlign="start start">
		<!-- <h2>{{ 'SETTINGS.FONT_SIZE' | translate }} :</h2>
		<div fxLayout="row" fxLayoutAlign="start center">
			<mat-slider [min]="11" [max]="18" [step]="1" [thumbLabel]="true" [(ngModel)]="fontSize" (input)="onFontSizeChanged($event)">
			</mat-slider>
			<span>{{ fontSize }} px</span>
		</div> -->
		<h2>{{ 'SETTINGS.NUMBER_PRECISION' | translate }} :</h2>
		<div fxLayout="row" fxLayoutAlign="start center">
			<mat-slider color="accent" attr.aria-label="{{ 'ARIA.SETTINGS.UPDATE_NUMBER_PRECISION' | translate }}" [min]="1" [max]="8"
				[step]="1" [thumbLabel]="true" [(ngModel)]="numberPrecision">
			</mat-slider>
			<span>{{ numberPrecision }} {{'SETTINGS.NUMBER' | translate }}</span>
		</div>
		<!-- <h2>{{ 'SETTINGS.LIFT_CURVE_SMOOTH' | translate }} :</h2>
		<div fxLayout="row" fxLayoutAlign="start center">
			<mat-slider [min]="1" [max]="20" [step]="1" [thumbLabel]="true" [(ngModel)]="liftCurveSmooth" (input)="onLiftCurveSmoothChanged($event)">
			</mat-slider>
			<span>{{ liftCurveSmoothExample }}</span>
		</div> -->
		<h2>{{ 'GLOBAL.MATRIX_DEFAULT_CONTRAST' | translate }} :</h2>
		<div fxLayout="row" fxLayoutAlign="start center">
			<mat-slider color="accent" attr.aria-label="{{ 'ARIA.SETTINGS.UPDATE_DEFAULT_MATRIX_CONTRAST' | translate }}" [max]="90"
				[min]="0" [step]="10" [thumbLabel]="false" [(ngModel)]="contrastValue">
			</mat-slider>
			<span>{{ contrastValue }} %</span>
		</div>
		<h2>{{ 'COOKIE_CONSENT.TITLE' | translate }} :</h2>
		<div fxLayout="row" fxLayoutAlign="start center">
			<mat-slide-toggle [(ngModel)]="allowCookies">
				{{ 'COOKIE_CONSENT.MESSAGE' | translate }}
			</mat-slide-toggle>
		</div>
		<h2>{{ 'DARK_THEME.TITLE' | translate }} :</h2>
		<div fxLayout="row" fxLayoutAlign="start center">
			<mat-slide-toggle [(ngModel)]="allowDarkTheme">
				{{ 'DARK_THEME.MESSAGE' | translate }}
			</mat-slide-toggle>
		</div>
		<div id="user-settings-clear-datas" fxLayout="column" fxLayoutAlign="start start">
			<h2>{{ 'SETTINGS.LOCAL_DATAS' | translate }} :</h2>
			<div fxLayout="row" fxLayoutAlign="center center">
				<button mat-stroked-button (click)="onClickOnClearDatas()">{{ 'SETTINGS.CLEAR' | translate }}</button>
				<span>{{ 'SETTINGS.CLEAR_DATA_INSTRUCTIONS' | translate }}</span>
			</div>
		</div>
	</div>
</div>
