.ag-grid-comp {
  background: var(--bgColor) !important;
  padding: 1px; // Important for selected border

  .comp-header {
    position: relative;
    padding-top: 10px !important;
    overflow-x: auto;
    overflow-y: hidden;
    padding-bottom: 10px;

    h1 {
      margin-top: 0 !important;
    }

    .comp-header-tools {
      .mdc-button.mat-warn {
        height: 33px !important;
        min-width: 34px !important;
        width: 34px !important;
        padding: 0 !important;
        margin-right: 5px !important;
        mat-icon {
          font-size: 18px !important;
        }
      }

      .level-distribution-btn {
        font-size: 0.9em !important;
        margin-right: 0 !important;
      }

      .level-distribution-btn.small-div {
        height: 33px !important;
        padding: 0 !important;
        line-height: 33px !important;
        min-width: 40px !important;
        max-width: 40px !important;

        mat-icon {
          font-size: 21px !important;
        }
      }

      ::ng-deep .search-input-btn {
        border-radius: 4px;
        margin-right: 5px;
        transition: width 2s;
        margin-left: 10px;
        border: 1px solid var(--primary);
        min-height: 33px;
        min-width: 36px;

        button {
          height: 30px;
          line-height: 30px;
          width: 30px;
          margin: 0 1px 0 2px;
          display: flex;
          padding: 7px !important;
          mat-icon {
            font-size: 21px;
          }
        }

        ::-webkit-input-placeholder {
          font-style: italic;
        }

        input {
          padding-right: 10px;
          border: none;
          border-width: 0;
          box-shadow: none;
          outline: none;
          background: transparent;
          transition: width 0.2s ease-in-out;
          width: 0px;
          height: 25px;
          margin-top: 2px;
        }
      }
    }
  }
}
