<div
  class="variable-graph-details-comp"
  fxLayout="column"
  fxFlexFill
  [ngClass]="{ fullscreen: isFullscreen }"
>
  <kl-graph-header
    [smallTitle]="true"
    [selectedVariable]="selectedNode"
    [title]="title"
    [subTitle]="subTitle"
    [hidePersistScale]="true"
    [hideScale]="hideScaleElt()"
    (toggleFullscreen)="onToggleFullscreen($event)"
    (scaleValueChanged)="onScaleValueChanged($event)"
  >
  </kl-graph-header>
  <kl-distribution-graph
    #distributionGraph
    fxFlex
    fxLayout="column"
    [position]="position"
    id="{{ 'cluster-distribution-' + position }}"
    [attr.id]="'cluster-distribution-' + position"
    [scaleValue]="scaleValue"
    [inputDatas]="graphDetails"
    [activeEntries]="activeEntries"
    [hideGraphOptions]="true"
    [graphOptions]="graphOptions"
    [variableType]="currentDimensionType"
    (selectedItemChanged)="onSelectBarChanged($event)"
    (scrollPositionChanged)="onScrollPositionChanged($event)"
    [scrollPosition]="scrollPosition"
  >
  </kl-distribution-graph>
</div>
