<div id="variable-graph-details-comp" fxLayout="column" fxFlexFill [ngClass]="{'fullscreen': isFullscreen}">
	<kl-graph-header [smallTitle]="true" [selectedVariable]="selectedNode" [title]="title"
		(toggleFullscreen)="onToggleFullscreen($event)" (scaleValueChanged)="onScaleValueChanged($event)">
	</kl-graph-header>
	<kl-distribution-graph-canvas #distributionGraph fxFlex fxLayout="column" [position]="position"
		id="{{'cluster-distribution-'+position}}" [attr.id]="'cluster-distribution-'+position" [scaleValue]="scaleValue"
		[inputDatas]="graphDetails" [activeEntries]="activeEntries" [hideGraphOptions]="true" noDataMessage="{{ 'NO_DATAS.COMPUTING' | translate }}"
		[graphOptions]="graphOptions" (selectedItemChanged)="onSelectBarChanged($event)"
		(scrollPositionChanged)="onScrollPositionChanged($event)" [scrollPosition]="scrollPosition">
	</kl-distribution-graph-canvas>
</div>
