.chart-comp {
  overflow-x: auto;
  overflow-y: hidden;
  height: 100%;
  .kl-chart-loading-indicator {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--bg-color);
  }
  .kl-chart-comp {
    height: 100%;
    overflow: hidden;
    max-width: 50000px; // Avoid canvas break
    min-width: 300px;

    canvas {
      min-width: 300px;
      max-width: 50000px;
      image-rendering: pixelated;
      image-rendering: crisp-edges;
    }
  }
}
