/**
  ag grid overriding styles
*/

.ag-grid-comp {
  background: var(--bgColor) !important;
}
ag-grid-angular {
  background: var(--bgColor) !important;
}

.ag-header {
  background: transparent !important;
}

.ag-theme-balham .ag-row-even:not(.ag-row-selected) {
  background: var(--bgColor) !important;
}

.ag-theme-balham .ag-row-odd:not(.ag-row-selected) {
  background: var(--bgColor-20) !important;
}

.ag-row {
  color: var(--bgColorContrast) !important;
}

// Override grid style
ag-grid-angular {
  background: white;
  margin: 2px !important;
}

.ag-theme-balham .ag-header-cell-resize {
  width: 14px !important;
}
.ag-theme-balham .ag-row-selected {
  background-color: var(--primary) !important;
  border-color: var(--primary) !important;
  color: white !important;
  // transition: background-color 0.1s !important;
  transition: none !important;

  mat-icon {
    color: white !important;
  }
  mat-icon:hover {
    background-color: var(--grey-text) !important;
  }
}
.ag-theme-balham .ag-row-selected:hover {
  background: var(--primary-20) !important;
}

.ag-theme-balham .ag-cell {
  border: none !important;
  font-size: 0.8rem !important;
  cursor: pointer;
  height: 100%;
  display: flex;
  align-items: center;
}

.ag-theme-balham .ag-row {
  border: none;
}

.ag-theme-balham .ag-row:hover:not(.ag-row-selected) {
  background-color: var(--bgColor-30) !important;
}

.ag-paging-panel {
  border-color: transparent !important;
  color: var(--grey-text) !important;

  button {
    display: none;
  }
}

.ag-theme-balham .ag-header {
  background-color: var(--bgColor-20) !important;
  font-weight: 600;
  font-size: 1.2em;
  border: none !important;
  // border-top: 1px solid var(--bgColor-10) !important;
  // border-bottom: 1px solid var(--bgColor-10) !important;
  padding-top: 4px;
  min-height: 40px !important;
}

.ag-header-cell-label .ag-header-cell-text {
  font-weight: 400;
  font-size: 0.85em;
  color: var(--grey-text) !important;
}

.ag-theme-balham .ag-root {
  border: none !important;
}

.ag-paging-panel {
  height: 42px !important;
}

.ag-sort-indicator-icon {
  display: flex;
  margin-left: 2px;
}
.ag-sort-ascending-icon {
  margin-top: 5px;
}
.ag-sort-descending-icon {
  margin-top: 8px;
}

.ag-theme-balham .ag-icon-asc:before {
  // content: '⏶' !important;
  content: url('data:image/svg+xml,%3Csvg%20width%3D%2222px%22%20height%3D%2222px%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cg%20transform%3D%22rotate(90%2012%2012)%22%3E%3Cpath%20d%3D%22M15%207L10%2012L15%2017%22%20stroke%3D%22%23999999%22%20stroke-width%3D%221.5%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
}

.ag-theme-balham .ag-icon-desc:before {
  // content: '⏷' !important;
  content: url('data:image/svg+xml,%3Csvg%20width%3D%2222px%22%20height%3D%2222px%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cg%20transform%3D%22rotate(270%2012%2012)%22%3E%3Cpath%20d%3D%22M15%207L10%2012L15%2017%22%20stroke%3D%22%23999999%22%20stroke-width%3D%221.5%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
}

.ag-paging-page-summary-panel .ag-disabled {
  filter: opacity(0.5);
}
.ag-theme-balham .ag-paging-page-summary-panel span {
  margin-top: -1px;
}
.ag-theme-balham .ag-icon-first:before {
  // content: "\21E4";
  content: url('data:image/svg+xml, %3Csvg%20width%3D%2218px%22%20height%3D%2218px%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M15.785%206.36699L10.095%2010.667C9.72311%2010.9319%209.50229%2011.3604%209.50229%2011.817C9.50229%2012.2736%209.72311%2012.702%2010.095%2012.967L15.785%2017.667C16.2658%2018.0513%2016.9185%2018.1412%2017.4853%2017.9012C18.052%2017.6611%2018.4416%2017.1297%2018.5%2016.517V7.51699C18.4416%206.90427%2018.052%206.37286%2017.4853%206.1328C16.9185%205.89274%2016.2658%205.98265%2015.785%206.36699Z%22%20stroke%3D%22%23999999%22%20stroke-width%3D%221.5%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%3Cpath%20d%3D%22M6.5%206.01697L6.5%2018.017%22%20stroke%3D%22%23999999%22%20stroke-width%3D%221.5%22%20stroke-linecap%3D%22round%22%2F%3E%3C%2Fsvg%3E');
}

.ag-theme-balham .ag-icon-previous:before {
  // content: "\2190";
  content: url('data:image/svg+xml, %3Csvg%20width%3D%2222px%22%20height%3D%2222px%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M15%207L10%2012L15%2017%22%20stroke%3D%22%23999999%22%20stroke-width%3D%221.5%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%3C%2Fsvg%3E%0A');
}

.ag-theme-balham .ag-icon-next:before {
  // content: "\2192";
  content: url('data:image/svg+xml,%3Csvg%20width%3D%2222px%22%20height%3D%2222px%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M10%207L15%2012L10%2017%22%20stroke%3D%22%23999999%22%20stroke-width%3D%221.5%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%3C%2Fsvg%3E%0A');
}

.ag-theme-balham .ag-icon-last:before {
  // content: "\21E5";
  content: url('data:image/svg+xml, 	%3Csvg%20width%3D%2218px%22%20height%3D%2218px%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M8.715%206.36694L14.405%2010.6669C14.7769%2010.9319%2014.9977%2011.3603%2014.9977%2011.8169C14.9977%2012.2736%2014.7769%2012.702%2014.405%2012.9669L8.715%2017.6669C8.23425%2018.0513%207.58151%2018.1412%207.01475%2017.9011C6.44799%2017.6611%206.05842%2017.1297%206%2016.5169V7.51694C6.05842%206.90422%206.44799%206.37281%207.01475%206.13275C7.58151%205.89269%208.23425%205.9826%208.715%206.36694Z%22%20stroke%3D%22%23999999%22%20stroke-width%3D%221.5%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%3Cpath%20d%3D%22M18%206.01697V18.017%22%20stroke%3D%22%23999999%22%20stroke-width%3D%221.5%22%20stroke-linecap%3D%22round%22%2F%3E%3C%2Fsvg%3E');
}

/**
  
  DO NOT DELETE aggrid SVG icons SOURCES
  
  <svg width="24px" height="24px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10 7L15 12L10 17" stroke="#999999" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>
  <svg width="24px" height="24px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M15 7L10 12L15 17" stroke="#999999" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>
  <svg width="24px" height="24px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M15.785 6.36699L10.095 10.667C9.72311 10.9319 9.50229 11.3604 9.50229 11.817C9.50229 12.2736 9.72311 12.702 10.095 12.967L15.785 17.667C16.2658 18.0513 16.9185 18.1412 17.4853 17.9012C18.052 17.6611 18.4416 17.1297 18.5 16.517V7.51699C18.4416 6.90427 18.052 6.37286 17.4853 6.1328C16.9185 5.89274 16.2658 5.98265 15.785 6.36699Z" stroke="#999999" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/><path d="M6.5 6.01697L6.5 18.017" stroke="#999999" stroke-width="1.5" stroke-linecap="round"/></svg>
  <svg width="24px" height="24px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M8.715 6.36694L14.405 10.6669C14.7769 10.9319 14.9977 11.3603 14.9977 11.8169C14.9977 12.2736 14.7769 12.702 14.405 12.9669L8.715 17.6669C8.23425 18.0513 7.58151 18.1412 7.01475 17.9011C6.44799 17.6611 6.05842 17.1297 6 16.5169V7.51694C6.05842 6.90422 6.44799 6.37281 7.01475 6.13275C7.58151 5.89269 8.23425 5.9826 8.715 6.36694Z" stroke="#999999" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/><path d="M18 6.01697V18.017" stroke="#999999" stroke-width="1.5" stroke-linecap="round"/></svg>
  
  */
