:root {
  --mat-tab-active-indicator-height: 1px;
  --header-height: 60px;
  --border-radius: 2px;
  --gripOpacity: 1;
}

[data-color-scheme='orange'] {
  color-scheme: orange;
  --bg-color-contrast: #000;
  --bg-color: #fff;
  --bg-color-10: #eee;
  --bg-color-20: #f9fafb;
  --bg-color-30: #eeeeee;
  --bg-color-40: #bbb;
  --bg-color-50: #aaa;
  --scrollbar: #eee;
  --primary: #000;
  --primary-10: #222222;
  --primary-20: #333333;
  --primary-30: #757575;
  --accent: #cd3c14;
  --selected: #ff66008c;
  --gutter-hover: #f1f1f1;
  --orange-main: #ff6600;
  --bg-tooltip: #444;
  --chart-border: #e5e5e5;
  --orange-accent: #531212;
  --red-main: #fb473a;
  --cell-type-num: #d1dcee;
  --cell-type-cat: #f5ddaf;
  --border-color: rgba(4, 32, 69, 0.1);
}

:host ::ng-deep .ag-theme-balham {
  --ag-font-size: 0.9em;
  font-size: inherit;
}

@media screen and (max-width: 1440px) {
  :root {
    --header-height: 50px;
  }
}

@media screen and (max-height: 1080px) {
  :root {
    --header-height: 50px;
  }
}
