<div
  class="external-datas-comp"
  fxFlexFill
  fxLayoutAlign="start start"
  fxLayout="column"
>
  <h1
    *ngIf="currentExternalDatasTitle && currentExternalDatas?.length > 0"
    class="small-title"
  >
    {{
      'GLOBAL.EXTERNAL_DATA_OF'
        | translate: { value: currentExternalDatasTitle }
    }}
  </h1>
  <div fxLayout="column" *ngFor="let datas of currentExternalDatas">
    <div fxLayout="row">
      <pre class="external-datas-text" *ngFor="let data of datas">{{
        data.value
      }}</pre>
    </div>
  </div>
  <kl-no-data
    fxFlexFill
    *ngIf="currentExternalDatas.length === 0"
    [message]="'NO_DATAS.NO_EXTERNAL_DATAS'"
  ></kl-no-data>
</div>
