<div
  class="external-datas-comp"
  fxFlexFill
  fxLayoutAlign="start start"
  fxLayout="column"
>
  @if (currentExternalDatasTitle && currentExternalDatas?.length > 0) {
    <h1 class="small-title">
      {{
        'GLOBAL.EXTERNAL_DATA_OF'
          | translate: { value: currentExternalDatasTitle }
      }}
    </h1>
  }
  @for (datas of currentExternalDatas; track datas) {
    <div fxLayout="column">
      <div fxLayout="row">
        @for (data of datas; track data) {
          <pre class="external-datas-text">{{ data.value }}</pre>
        }
      </div>
    </div>
  }
  @if (currentExternalDatas.length === 0) {
    <kl-no-data fxFlexFill [message]="getNoDatasMessage()"></kl-no-data>
  }
</div>
