.tooltip {
  position: absolute;
  font-weight: 200;
  z-index: 2;
  padding: 0 10px;
  border-radius: 0px;
  font-size: 12px;
  min-width: 140px;
  pointer-events: none;
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 100ms;
  background: color-mix(in srgb, var(--color-1000) 90%, transparent);
  pointer-events: none;
  border-radius: var(--border-radius);
  p {
    font-family: var(--font-code) !important;
    color: #fff;
  }
}

.tooltip.visible {
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0ms;
}

.title {
  font-family: var(--font-code) !important;
  font-weight: bold;
  margin-bottom: -5px;
}
