// TODO move to variable
@import "../../../../theme.scss";

.informations-block-comp {
	h1 {
		mat-icon {
			margin-right: 0.4em;
			margin-top: -2px;
		}
	}

	table {
		margin: 0.2em 2em;
		word-break: break-all;

		tr {
			th {
				padding: 0;
				text-align: left;
				padding-right: 4px;
			}
			td {
				padding: 0;
			}

			strong {
				font-size: 0.95em;
				font-weight: 500;
				color: var(--primary-10);
			}

			em {
				font-size: 0.95em;
				font-weight: 500;
				color: var(--primary-contrast);
				background: var(--bgColor-20);
				padding: 1px 5px;
				border-radius: 4px;
				margin: 4px 0;
			}
		}
	}
}
