// TODO move to variable
@import "../../../../theme.scss";

.informations-block-comp {
	h1 {
		mat-icon {
			margin-right: 0.2em;
		}
	}

	span {
		margin: 0em 2em;
		word-break: break-all;

		strong {
			font-size: 0.95em;
			font-weight: 500;
			color: var(--primary-contrast-10);
		}
	}
}
