<div id="matrix-canvas-comp" fxFlexFill fxLayout="column" #matrixCanvasComp>
  <kl-matrix-tooltip
    *ngIf="matrixDiv"
    [cell]="tooltipCell"
    [position]="tooltipPosition"
    [matrixSize]="[matrixDiv.width, matrixDiv.height]"
  ></kl-matrix-tooltip>
  <div
    id="matrix-loading"
    fxLayout="column"
    fxFlexFill
    fxLayoutAlign="center center"
    [hidden]="!loadingMatrixSvg"
  >
    <mat-spinner
      diameter="40"
      color="accent"
      mode="indeterminate"
    ></mat-spinner>
  </div>
  <kl-cell-stats
    *ngIf="isKhiopsCovisu"
    [selectedCells]="selectedCells"
  ></kl-cell-stats>
  <div fxLayout="row" fxFlex>
    <div fxLayout="column">
      <div fxLayout="column">
        <button
          class="screenshot-hide"
          mat-icon-button
          color="accent"
          (click)="onClickOnZoomIn()"
          matTooltip="{{ 'GLOBAL.ZOOM_IN' | translate }}"
          attr.aria-label="{{ 'GLOBAL.ZOOM_IN' | translate }}"
        >
          <mat-icon fxFlexFill fxLayoutAlign="center center">zoom_in</mat-icon>
        </button>
        <button
          mat-icon-button
          class="screenshot-hide"
          color="accent"
          (click)="onClickOnResetZoom()"
          matTooltip="{{ 'GLOBAL.RESET_ZOOM' | translate }}"
          attr.aria-label="{{ 'GLOBAL.RESET_ZOOM' | translate }}"
        >
          <mat-icon fxFlexFill fxLayoutAlign="center center"
            >zoom_out_map</mat-icon
          >
        </button>
        <button
          class="screenshot-hide"
          mat-icon-button
          color="accent"
          (click)="onClickOnZoomOut()"
          matTooltip="{{ 'GLOBAL.ZOOM_OUT' | translate }}"
          attr.aria-label="{{ 'GLOBAL.ZOOM_OUT' | translate }}"
        >
          <mat-icon fxFlexFill fxLayoutAlign="center center">zoom_out</mat-icon>
        </button>
      </div>
      <div fxFlex id="y-axis" fxLayoutAlign="center center">
        <span class="axis-matrix" title="{{ yAxisLabel }}">{{
          yAxisLabel
        }}</span>
      </div>
      <button
        class="screenshot-hide"
        *ngIf="graphMode && graphMode.mode === 'MUTUAL_INFO' && !isKhiopsCovisu"
        mat-icon-button
        matTooltip="{{ 'GLOBAL.TOGGLE_ZERO' | translate }}"
        (click)="onClickOnToggleZeros()"
        [ngClass]="['toggle-zero', 'toggled-' + isZerosToggled]"
        attr.aria-label="{{ 'GLOBAL.TOGGLE_ZERO' | translate }}"
      >
        <mat-icon fxFlexFill fxLayoutAlign="center center">{{
          isZerosToggled ? 'visibility' : 'visibility_off'
        }}</mat-icon>
      </button>
      <button
        class="screenshot-hide"
        mat-icon-button
        matTooltip="{{ 'GLOBAL.INVERT_AXIS' | translate }}"
        (click)="onClickOnInvertAxis()"
        attr.aria-label="{{ 'GLOBAL.INVERT_AXIS' | translate }}"
        [ngClass]="['invert-axis', 'toggled-' + isAxisInverted]"
      >
        <mat-icon fxFlexFill fxLayoutAlign="center center">transform</mat-icon>
      </button>
    </div>
    <div fxFlex id="matrix-area" #matrixArea>
      <div fxFlex id="matrix-container" #matrixContainerDiv>
        <canvas id="matrix" #matrixDiv></canvas>
        <canvas id="matrix-selected" #matrixSelectedDiv></canvas>
      </div>
    </div>
    <div fxFlex fxLayout="column" id="matrix-comp-right">
      <div
        id="contrast"
        fxLayout="column"
        fxLayoutAlign="start center"
        class="screenshot-hide"
      >
        <span>Contrast</span>
        <mat-slider
          attr.aria-label="{{
            'ARIA.MATRIX.UPDATE_MATRIX_CONTRAST' | translate
          }}"
          [max]="90"
          title="{{ 'TOOLTIPS.COMMONS.MATRIX_CONTRAST' | translate }}"
          (input)="onContrastChanged($event)"
          [min]="0"
          [step]="10"
        >
          <input [(ngModel)]="contrast" matSliderThumb />
        </mat-slider>
      </div>
      <div id="legend" fxFlex fxLayout="column" fxLayoutAlign="center center">
        <span id="legend-max" matTooltip="{{ legend.max | toPrecision }}">{{
          legend.max | toPrecision
        }}</span>
        <div id="legend-bar" fxFlex #legendBar></div>
        <span id="legend-min" matTooltip="{{ legend.min | toPrecision }}">{{
          legend.min | toPrecision
        }}</span>
      </div>
    </div>
  </div>
  <div fxLayout="row" id="x-axis" fxLayoutAlign="center center">
    <span class="axis-matrix" title="{{ xAxisLabel }}">{{ xAxisLabel }}</span>
  </div>
</div>
