.app-histogram {
  position: absolute;
  top: 0;
  padding: 1px;

  .app-histogram-slider {
    min-width: 170px;
    max-width: 300px;
    position: relative;
    margin: 0 2rem 0 1rem;

    span {
      top: 2px;
      position: absolute;
      font-size: 10px;
      color: var(--selected);
      padding-left: 10px;
    }

    ::ng-deep mat-slider:nth-of-type(1) {
      position: absolute;
      .mdc-slider__thumb-knob {
        border-color: var(--selected) !important;
        box-shadow: 0 0px 4px rgba(0, 0, 0, 0.8);
        border-radius: 0 !important;
        opacity: 0.7;
      }
      mat-slider-visual-thumb {
        z-index: 1;
      }
    }

    ::ng-deep mat-slider:nth-of-type(2) {
      mat-slider-visual-thumb {
        z-index: 2;
      }
    }
  }

  #histogram-container {
    overflow: hidden;
    display: flex;
    height: 100%;
    position: relative;
    width: 100%;
  }

  #histogram-canvas,
  #histogram-canvas-hover,
  #histogram-canvas-selected {
    z-index: 2;
    position: absolute;
  }
  .histogram-loading-indicator {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--bg-color);
  }
  .comp-header {
    overflow: hidden;
    padding-top: 1rem;
    margin-top: 1px !important;
    min-height: 54px !important;
    padding-bottom: 10px;
    > div {
      overflow-x: auto;
      overflow-y: hidden;
      > div {
        min-height: 44px;
      }
    }
  }
  #histogram-chart {
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;

    ::ng-deep svg {
      position: absolute; // important in case of zoom
    }

    ::ng-deep .axis-grid {
      .domain {
        stroke: none;
      }
      .tick {
        line {
          stroke-dasharray: 5;
          stroke: var(--chart-border);
        }
        text {
          fill: #999;
        }
      }
    }
  }
}
::ng-deep .tooltip-container {
  .tooltip {
    display: none;
  }
}
