.app-histogram {
	.comp-header {
		padding-top: 1rem;
		margin-top: 1px !important;
	}
	#histogram-chart {
		width: 100%;
		height: calc(
			100% - 50px
		); // remove header, Warning do not use fxFlex to avoid animations loop in fullscreen mode

		::ng-deep .axis-grid {
			.domain {
				stroke: #999;
				opacity: 0.4;
			}
			.tick {
				line {
					stroke: #999;
					opacity: 0.4;
				}
				text {
					fill: #999;
				}
			}
		}

		::ng-deep rect {
			// opacity: 0.7;
		}
		::ng-deep rect:hover {
			// opacity: 0.9;
		}
	}
}
::ng-deep .tooltip-container {
	.tooltip {
		display: none;
		position: absolute;
		top: 0;
		left: 0;
		padding: 10px;
		border-radius: 5px;
		font-family: Arial, Helvetica, sans-serif;
		font-size: 13px;
		background-color: rgba(0, 0, 0, 0.7);
		color: white;
	}
}
