<div class="app-histogram" *ngIf="datas" fxFlexFill fxLayout="column">
  <div
    fxLayout="column"
    class="histogram-loading-indicator"
    fxLayoutAlign="center center"
    *ngIf="isLoading"
  >
    <mat-spinner
      diameter="40"
      color="accent"
      mode="indeterminate"
    ></mat-spinner>
    <span>{{ 'GLOBAL.BIG_FILES_LOADING_WARNING' | translate }}</span>
  </div>
  <div fxLayout="row" fxLayoutAlign="end center" class="comp-header">
    <div fxFlex fxLayout="row" fxLayoutAlign="start center">
      <h2 title="{{ 'TOOLTIPS.DISTRIBUTION.TITLE' | translate }}">
        {{ 'GLOBAL.DENSITY' | translate }}
      </h2>
    </div>
    <kl-legend
      [inputDatas]="datas"
      [type]="'histogram'"
      [colorSet]="colorSet"
    ></kl-legend>
    <div class="comp-header-tools" fxLayout="row">
      <div>
        <button
          mat-stroked-button
          color="primary"
          [matMenuTriggerFor]="graphOptionsXTypes"
        >
          {{ graphOptionsX?.selected | translate }}
          <em>v</em>
        </button>
        <mat-menu #graphOptionsXTypes>
          <button
            mat-menu-item
            *ngFor="let opt of graphOptionsX?.types"
            (click)="changeGraphTypeX(opt)"
          >
            {{ opt | translate }}
          </button>
        </mat-menu>
      </div>
      <div>
        <button
          mat-stroked-button
          color="primary"
          [matMenuTriggerFor]="graphOptionsYTypes"
        >
          {{ graphOptionsY?.selected | translate }}
          <em>v</em>
        </button>
        <mat-menu #graphOptionsYTypes>
          <button
            mat-menu-item
            *ngFor="let opt of graphOptionsY?.types"
            (click)="changeGraphTypeY(opt)"
          >
            {{ opt | translate }}
          </button>
        </mat-menu>
      </div>
    </div>
  </div>
  <div fxFlexFill (resized)="onResized($event)">
    <canvas id="histogram-canvas" fxFlex> </canvas>
    <canvas id="histogram-canvas-hover" fxFlex> </canvas>
    <canvas id="histogram-canvas-selected" fxFlex> </canvas>
    <div #chart id="histogram-chart"></div>
    <app-histogram-tooltip
      [text]="tooltipText"
      [canvasW]="w"
      [posX]="tooltipPosX"
      [posY]="tooltipPosY"
      [display]="tooltipDisplay"
    >
    </app-histogram-tooltip>
  </div>
</div>
