<div class="composition-comp" fxLayout="column" fxFlexFill>
	<kl-ag-grid *ngIf="selectedDimension.isCategorical" fxFlexFill [showLevelDistribution]="false" [paginationSize]="50"
		titleTooltip="{{ 'TOOLTIPS.AXIS.COMPOSITION.TITLE' | translate }}" [attr.id]="'cluster-composition-'+position"
		[id]="'cluster-composition-'+position" [showSearch]="true" [watchResize]="true" [showColumnsSelection]="true"
		[inputDatas]="compositionValues" [title]="title" [smallTitle]="true"
		(selectListItem)="onSelectRowChanged($event)" (doubleClickListItem)="onDoubleClickListItem($event)"
		[selectedVariable]="selectedComposition" [displayedColumns]="compositionDisplayedColumns"></kl-ag-grid>
	<kl-no-data fxFlexFill fxLayoutAlign="center center" *ngIf="!selectedDimension.isCategorical"
		[message]="'NO_DATAS.NO_COMPOSITION_FOR_NUMERICAL'">
	</kl-no-data>
</div>
