.matrix-container-comp {
  background: var(--bgColor) !important;

  .matrix-container-comp-wrapper {
    .comp-header {
      padding: 0.5em 0.4em 0.5em 0 !important;
      margin: 0;
      overflow: hidden;
      overflow-x: auto;

      button {
        text-transform: none;
      }

      kl-matrix-mode {
        margin-left: 1rem;
        margin-right: 0.5rem;
      }
    }
  }
}
