<div class="matrix-container-comp" fxFlexFill>
  <as-split
    [gutterSize]="7"
    direction="vertical"
    (dragEnd)="onSplitDragEnd($event, sizeId)"
  >
    <as-split-area
      [size]="sizes[sizeId][0]"
      order="1"
      [visible]="viewsLayout.isDimensionsChecked"
    >
      <app-selected-clusters [selectedNodes]="dimensionsDatas.selectedNodes">
      </app-selected-clusters>
    </as-split-area>
    <as-split-area
      class="matrix-container-comp-wrapper"
      [size]="sizes[sizeId][1]"
      order="2"
      [visible]="viewsLayout.isCoocurenceChecked"
    >
      <div
        fxFlexFill
        fxLayout="column"
        class="selected-area-inner-div"
        [ngClass]="{ fullscreen: isFullscreen }"
      >
        <div fxLayout="row" fxLayoutAlign="start center" class="comp-header">
          <kl-matrix-mode
            fxFlex
            [matrixModes]="matrixModes"
            (matrixModeChange)="changeMatrixMode($event)"
          >
          </kl-matrix-mode>
          <mat-checkbox
            color="accent"
            class="matrix-conditionalOnContext-checkbox"
            *ngIf="dimensionsDatas.contextDimensionCount"
            [checked]="dimensionsDatas.conditionalOnContext"
            (change)="changeConditionalOnContext()"
          >
            {{ 'GLOBAL.CONDITIONAL_ON_CONTEXT' | translate }}</mat-checkbox
          >
          <kl-matrix-toggle
            [matrixOptions]="matrixOptions"
            (matrixOptionChange)="changeMatrixType($event)"
          ></kl-matrix-toggle>
          <kl-btn-fullscreen (toggleFullscreen)="onToggleFullscreen($event)">
          </kl-btn-fullscreen>
        </div>
        <kl-matrix-canvas
          #matrixCanvas
          fxFlex
          fxLayout="row"
          [id]="'matrix-container-comp-wrapper'"
          [attr.id]="'matrix-container-comp-wrapper'"
          (cellSelected)="onCellSelected($event)"
          [isAxisInverted]="dimensionsDatas.isAxisInverted"
          (matrixAxisInverted)="onMatrixAxisInverted()"
          [contextSelection]="dimensionsDatas.contextSelection"
          [graphMode]="matrixModes.selected"
          [(contrast)]="dimensionsDatas.matrixContrast"
          [selectedNodes]="dimensionsDatas.selectedNodes"
          [inputDatas]="dimensionsDatas.matrixDatas"
          [graphType]="matrixOptions.selected"
        >
        </kl-matrix-canvas>
      </div>
    </as-split-area>
  </as-split>
</div>
