<div
  class="hierarchy-select-comp mat-elevation-z1"
  fxLayout="column"
  fxLayoutAlign="end center"
>
  <div
    class="comp-header-tools"
    fxFlex
    fxLayout="row"
    fxLayoutAlign="start center"
  >
    <h1 title="{{ 'TOOLTIPS.AXIS.DIMENSION.STATISTICS' | translate }}">
      {{ 'GLOBAL.HIERARCHY' | translate }}
    </h1>
    <div fxFlex>
      <button
        class="button-accent hierarchy-select-comp-button"
        title="{{ 'TOOLTIPS.AXIS.DIMENSION.SELECT' | translate }}"
        mat-stroked-button
        color="accent"
        [matMenuTriggerFor]="selectDimension"
      >
        {{ selectedDimension?.name }}
        <em class="screenshot-hide"
          ><mat-icon>keyboard_arrow_down</mat-icon>
        </em>
      </button>
      <mat-menu #selectDimension>
        <button
          mat-menu-item
          *ngFor="let dimension of dimensions; let i = index"
          [class.selected-item]="dimension.name === selectedDimension?.name"
          (click)="changeSelectedDimension(dimension, i)"
        >
          {{ dimension.name }}
        </button>
      </mat-menu>
    </div>
    <button
      class="hierarchy-infos-button screenshot-hide"
      mat-icon-button
      color="accent"
      attr.aria-label="{{ 'TOOLTIPS.AXIS.DIMENSION.STATISTICS' | translate }}"
      matTooltip="{{ 'GLOBAL.STATISTICS' | translate }}"
      (click)="onClickOnShowStats()"
      [ngClass]="{ enabled: showStats }"
    >
      <mat-icon>info</mat-icon>
    </button>
  </div>
  <div
    class="hierarchy-select-content"
    *ngIf="showStats"
    [@slideInOut]
    fxLayoutAlign="start start"
    fxLayout="column"
  >
    <table class="stats-table">
      <tr>
        <td>{{ 'GLOBAL.TYPE' | translate }}</td>
        <td>
          <strong>{{ selectedTreeCluster?.dimensionType }}</strong>
        </td>
      </tr>
      <tr *ngIf="selectedTreeCluster?.isNumerical">
        <td>{{ 'GLOBAL.INTERVALS' | translate }}</td>
        <td>
          <strong>{{ selectedTreeCluster?.intervals }}</strong>
        </td>
      </tr>
      <tr *ngIf="selectedTreeCluster?.isCategorical">
        <td>{{ 'GLOBAL.CLUSTERS' | translate }}</td>
        <td>
          <strong>{{ selectedTreeCluster?.intervals }}</strong>
        </td>
      </tr>
      <tr *ngIf="selectedDimension?.isNumerical">
        <td>{{ 'GLOBAL.INTERVAL' | translate }}</td>
        <td>
          <strong>{{ selectedTreeCluster?.interval }}</strong>
        </td>
      </tr>
      <tr *ngIf="selectedDimension?.isCategorical">
        <td>{{ 'GLOBAL.CLUSTER' | translate }}</td>
        <td>
          <strong>{{ selectedTreeCluster?.interval }}</strong>
        </td>
      </tr>
      <tr *ngIf="selectedTreeCluster?.isCategorical">
        <td>{{ 'GLOBAL.CLUSTER_LENGTH' | translate }}</td>
        <td>
          <strong>{{ selectedTreeCluster?.nbClusters }}</strong>
        </td>
      </tr>
      <tr>
        <td>{{ 'GLOBAL.FREQUENCY' | translate }}</td>
        <td>
          <strong>{{ selectedTreeCluster?.frequency }}</strong>
        </td>
      </tr>
    </table>
  </div>
</div>
