.hierarchy-select-comp {
  padding: 0.6em;
  margin: 0 !important;
  width: 100%;
  overflow-x: auto;
  position: relative;

  h1 {
    margin: 0 1em 0 0.4em;
  }

  .hierarchy-select-comp-button {
    margin: 0 0.4em;
  }

  .mat-mdc-icon-button {
    .mat-icon {
      margin-top: 5px !important;
    }
  }

  .hierarchy-infos-button {
    margin-right: 5px;
  }

  button {
    border-color: inherit !important;
    mat-icon {
      font-size: 22px !important;
    }
  }

  button.enabled {
    color: var(--primary);
  }

  .comp-header-tools {
    position: relative;
    width: 100%;
  }

  .hierarchy-select-content {
    position: relative;
    width: 100%;
    margin-top: 1em;
    padding: 0.55em;

    td {
      font-weight: 400;
      font-size: 0.75rem;
      align-items: center;
      min-height: 20px;
      padding-right: 5px;
    }

    strong {
      font-size: 0.95em;
      font-weight: 500;
      color: var(--primary-10);
      background: var(--bg-color-30);
      padding: 1px 5px;
      border-radius: 4px;
      margin: 1px 4px 0px 4px;
    }

    br {
      display: block;
      content: '';
      margin-top: 10px;
    }
  }
}
