<div
  class="hierarchy-select-comp mat-elevation-z1"
  fxLayout="column"
  fxLayoutAlign="end center"
>
  <div
    class="comp-header-tools"
    fxFlex
    fxLayout="row"
    fxLayoutAlign="start center"
  >
    <h1 title="{{ 'TOOLTIPS.AXIS.DIMENSION.STATISTICS' | translate }}">
      {{ 'GLOBAL.HIERARCHY' | translate }}
    </h1>
    <div fxFlex>
      <button
        class="button-accent hierarchy-select-comp-button"
        title="{{ 'TOOLTIPS.AXIS.DIMENSION.SELECT' | translate }}"
        mat-stroked-button
        color="accent"
        [matMenuTriggerFor]="selectDimension"
      >
        {{ selectedDimension?.name }} <em class="screenshot-hide">v</em>
      </button>
      <mat-menu #selectDimension>
        <button
          mat-menu-item
          *ngFor="let dimension of dimensions; let i = index"
          [class.selected-item]="dimension.name === selectedDimension?.name"
          (click)="changeSelectedDimension(dimension, i)"
        >
          {{ dimension.name }}
        </button>
      </mat-menu>
    </div>
    <button
      class="hierarchy-infos-button screenshot-hide"
      mat-icon-button
      color="accent"
      attr.aria-label="{{ 'TOOLTIPS.AXIS.DIMENSION.STATISTICS' | translate }}"
      matTooltip="{{ 'GLOBAL.STATISTICS' | translate }}"
      (click)="onClickOnShowStats()"
      [ngClass]="{ enabled: showStats }"
    >
      <mat-icon>info</mat-icon>
    </button>
  </div>
  <div
    class="hierarchy-select-content"
    *ngIf="showStats"
    [@slideInOut]
    fxLayoutAlign="start start"
    fxLayout="column"
  >
    <span
      >{{ 'GLOBAL.TYPE' | translate }} :
      <strong>{{ selectedTreeCluster?.dimensionType }}</strong></span
    >
    <span *ngIf="selectedTreeCluster?.isNumerical"
      >{{ 'GLOBAL.INTERVALS' | translate }} :
      <strong>{{ selectedTreeCluster?.intervals }}</strong></span
    >
    <span *ngIf="selectedTreeCluster?.isCategorical"
      >{{ 'GLOBAL.CLUSTERS' | translate }} :
      <strong>{{ selectedTreeCluster?.intervals }}</strong></span
    >
    <br />
    <span *ngIf="selectedDimension?.isNumerical"
      >{{ 'GLOBAL.INTERVAL' | translate }} :
      <strong>{{ selectedTreeCluster?.interval }}</strong></span
    >
    <span *ngIf="selectedDimension?.isCategorical"
      >{{ 'GLOBAL.CLUSTER' | translate }} :
      <strong>{{ selectedTreeCluster?.interval }}</strong></span
    >
    <span *ngIf="selectedTreeCluster?.isCategorical"
      >{{ 'GLOBAL.CLUSTER_LENGTH' | translate }} :
      <strong>{{ selectedTreeCluster?.nbClusters }}</strong></span
    >
    <span
      >{{ 'GLOBAL.FREQUENCY' | translate }} :
      <strong>{{ selectedTreeCluster?.frequency }}</strong></span
    >
  </div>
</div>
