<as-split
  id="app-var-details-tree-preparation-comp"
  direction="vertical"
  (dragEnd)="onSplitDragEnd($event, 'row1Col1Row')"
>
  <as-split-area [size]="sizes.row1Col1Row[0]" fxLayout="column">
    <as-split
      direction="vertical"
      (dragEnd)="onSplitDragEnd($event, 'row1Col1Row0Col')"
    >
      <as-split-area [size]="sizes.row1Col1Row0Col[0]">
        <app-variable-graph-details
          #appVariableGraphDetails
          *ngIf="treePreparationDatas?.selectedVariable"
          [preparationSource]="'treePreparationReport'"
          [selectedVariable]="treePreparationDatas?.selectedVariable"
          [selectedGraphItemIndex]="selectedBarIndex"
          (selectedItemChanged)="onSelectedGraphItemChanged($event)"
          (interpretableHistogramChanged)="onSelectedGraphItemChanged($event)"
          fxFlex="1 1 100%"
          [showTargetDistributionGraph]="true"
        >
        </app-variable-graph-details>
      </as-split-area>
    </as-split>
  </as-split-area>
  <as-split-area class="variables-list-container" [size]="sizes.row1Col1Row[1]">
    <kl-ag-grid
      id="tree-preparation-current-interval"
      class="variables-list"
      fxFlexFill
      [showLevelDistribution]="false"
      [showSearch]="true"
      [displayCount]="false"
      [showLineSelection]="true"
      [title]="currentIntervalDatas?.title"
      [showColumnsSelection]="false"
      [inputDatas]="currentIntervalDatas?.values"
      [displayedColumns]="currentIntervalDatas?.displayedColumns"
    >
    </kl-ag-grid>
  </as-split-area>
</as-split>
