<div id="axis-comp" fxFlexFill *ngIf="axisLayout && dimensionsDatas">
	<as-split direction="horizontal" (dragEnd)="onSplitDragEnd($event, sizeId)" fxFlexFill>
		<as-split-area [size]="sizes[sizeId][column0Index]" order="1" [visible]="axisLayout.isHierarchyChecked">
			<div fxFlexFill fxLayout="column" [attr.id]="'tree-comp-'+position">
				<div fxFlexFill fxLayout="column" class="selected-area-inner-div">
					<app-hierarchy-select [position]="position" [selectedNode]="dimensionsDatas.selectedNodes[position]"
						[selectedDimension]="dimensionsDatas.selectedDimensions[position]"
						[dimensions]="dimensionsDatas.selectedDimensions"></app-hierarchy-select>
					<app-tree-select [selectedNode]="dimensionsDatas.selectedNodes[position]" [position]="position"
						[dimensionsTree]="dimensionsDatas.dimensionsTrees[position]"
						[selectedDimension]="dimensionsDatas.selectedDimensions[position]"></app-tree-select>
				</div>
			</div>
		</as-split-area>
		<as-split-area [size]="sizes[sizeId][column1Index]" class="app-cluster-details-container" order="2"
			*ngIf="axisLayout.isClustersChecked">
			<app-cluster-details [position]="position" [selectedNode]="dimensionsDatas.selectedNodes[position]"
				[dimensionsTree]="dimensionsDatas.dimensionsTrees[position]"
				[selectedDimension]="dimensionsDatas.selectedDimensions[position]"></app-cluster-details>
		</as-split-area>
		<as-split-area [size]="sizes[sizeId][column2Index]" order="3"
			*ngIf="axisLayout.isAnnotationChecked || axisLayout.isCompositionChecked">
			<as-split direction="vertical" fxFlexFill>
				<as-split-area [size]="30" order="1" *ngIf="axisLayout.isAnnotationChecked">
					<app-annotation [attr.id]="'cluster-annotation-'+position" [position]="position"
						[selectedNode]="dimensionsDatas.selectedNodes[position]"></app-annotation>
				</as-split-area>
				<as-split-area [size]="70" order="1" *ngIf="axisLayout.isCompositionChecked">
					<app-composition [position]="position"
						[selectedDimension]="dimensionsDatas.selectedDimensions[position]"
						[selectedNode]="dimensionsDatas.selectedNodes[position]"
						(selectedCompositionChanged)="selectedCompositionChanged($event)"
						[dimensionsClusters]="dimensionsDatas.dimensionsClusters[position]"></app-composition>
				</as-split-area>
			</as-split>
		</as-split-area>
		<as-split-area [size]="sizes[sizeId][column3Index]" order="4" *ngIf="axisLayout.isExternalDataChecked">
			<app-external-datas [inputValue]="selectedComposition && selectedComposition.value"
				[attr.id]="'external-datas-'+position" [position]="position"
				[externalData]="selectedComposition && selectedComposition.externalData"></app-external-datas>
		</as-split-area>
		<as-split-area [size]="sizes[sizeId][column4Index]" order="5"
			*ngIf="axisLayout.isDistributionChecked && (position === 0 || position === 1)">
			<app-variable-graph-details #appVariableGraphDetails [position]="invertedPosition"
				[selectedDimensions]="dimensionsDatas.selectedDimensions"
				[selectedDimension]="dimensionsDatas.selectedDimensions[position]"
				[dimensionsTree]="dimensionsDatas.dimensionsTrees[position]"
				[selectedNode]="dimensionsDatas.selectedNodes[invertedPosition]">
			</app-variable-graph-details>
		</as-split-area>
	</as-split>
</div>
