#graph-header-comp {
	max-height: 60px;
	margin-bottom: 1em !important;
	overflow: hidden;
	padding-right: 0.3rem;
	h1 {
		margin-top: auto !important;
		margin-bottom: auto !important;

		span {
			line-height: 1em;
		}

		em {
			font-size: 0.8em;
		}
	}

	.limit-warning {
		color: #fb473a;
		font-size: 0.9em;
		padding-top: 6px;

		mat-icon {
			font-size: 1.6em;
		}
	}

	#graph-header-tools {
		margin-right: 4px;
		height: 100%;
		padding: 3px 8px;
		border-radius: 5px;

		h2 {
			font-size: 0.8em;
			margin: 0;
		}

		.mat-slider-horizontal {
			min-width: 88px !important;
			height: 28px !important;
			padding: 0 !important;
			margin-top: -17px;
		}
	}
}
