#graph-header-comp {
  max-height: 60px;
  margin-bottom: 1em !important;
  overflow-y: hidden;
  overflow-x: auto;
  padding-right: 0.3rem;

  h1 {
    margin-top: auto !important;
    margin-bottom: auto !important;

    span {
      line-height: 0.95em;
      min-width: 100px;
    }

    em {
      font-size: 0.8em;
    }
  }

  .limit-warning {
    color: #fb473a;
    font-size: 0.9em;
    padding-top: 6px;

    mat-icon {
      font-size: 1.6em;
    }
  }

  #graph-header-tools {
    margin-right: 4px;
    height: 100%;
    padding: 3px 8px;
    border-radius: 5px;
    position: relative;
    h2 {
      white-space: nowrap;
      font-size: 0.8em;
      margin: 0;
      margin-top: -8px;
    }

    mat-slider {
      position: absolute;
      margin-right: 1.4rem;
      top: 10px;
    }
  }
}
