<div
  id="graph-header-comp"
  fxFlexFill
  fxLayout="row"
  fxLayoutAlign="start center"
  class="scrollbar-thin"
>
  <h1
    fxLayout="row"
    fxLayoutAlign="start center"
    fxFlex
    [ngClass]="{ 'small-title': smallTitle === true }"
  >
    <mat-icon>equalizer</mat-icon>
    <span>{{ title || (selectedVariable && selectedVariable.name) }}</span>
  </h1>
  <div id="graph-header-tools" fxLayout="row" fxLayoutAlign="start center">
    <div
      *ngIf="!hideScale"
      fxLayout="column"
      fxLayoutAlign="center center"
      class="kl-slider-container"
    >
      <h2>{{ 'GLOBAL.SCALE' | translate }}</h2>
      <mat-slider
        attr.aria-label="{{ 'ARIA.CHARTS.UPDATE_GRAPH_SCALE' | translate }}"
        [max]="maxScale"
        [min]="minScale"
        [step]="stepScale"
        (input)="onScaleChanged($event?.target?.['valueAsNumber'])"
      >
        <input [(ngModel)]="scaleValue" matSliderThumb />
      </mat-slider>
    </div>
  </div>
  <kl-zoom-tools [alignment]="'row'" *ngIf="showZoom"></kl-zoom-tools>
  <kl-btn-fullscreen
    *ngIf="toggleFullscreen?.observers.length > 0"
    (toggleFullscreen)="onToggleFullscreen($event)"
  >
  </kl-btn-fullscreen>
</div>
