#graph-header-comp {
  max-height: 60px;
  margin-bottom: 1em !important;
  overflow-y: hidden;
  overflow-x: auto;
  padding-right: 0.3rem;

  h1 {
    margin-top: auto !important;
    margin-bottom: auto !important;
    mat-icon {
      min-width: 20px;
      margin-right: 0.4em !important;
      margin-top: 2px !important;
      font-size: 20px !important;
    }
    span {
      line-height: 0.95em;
      min-width: 100px;
    }

    em {
      font-size: 0.8em;
    }
  }

  .subtitle {
    color: var(--yellowMain) !important;
    font-size: 0.75em;
    font-weight: 400;
    font-style: italic;
    margin: 0 0 0 15px !important;
    line-height: 1em;
  }

  kl-zoom-tools {
    margin-right: 0.5rem;
  }

  .limit-warning {
    color: #fb473a;
    font-size: 0.9em;
    padding-top: 6px;

    mat-icon {
      font-size: 1.6em;
    }
  }

  #graph-header-tools {
    height: 100%;
    padding: 3px 8px;
    border-radius: 5px;
    position: relative;

    .kl-slider-container {
      width: 110px !important;
    }
    h2 {
      white-space: nowrap;
      font-size: 0.8em;
      margin: 0;
      margin-top: -18px;
    }

    mat-slider {
      position: absolute;
      margin-right: 1.4rem;
      top: 10px;
    }
  }
}
