<button
  attr.aria-label="{{ 'ARIA.AG_GRID.CHANGE_DATAS_OPTION' | translate }}"
  mat-stroked-button
  [matMenuTriggerFor]="dataOptionsTypes"
>
  {{ dataOptions?.selected | translate }}
  <em><mat-icon>keyboard_arrow_down</mat-icon> </em>
</button>
<mat-menu #dataOptionsTypes>
  @for (opt of dataOptions.types; track opt) {
    <button
      attr.aria-label="{{
        'ARIA.AG_GRID.CHANGE_TO' | translate: { type: opt | translate }
      }}"
      mat-menu-item
      [class.selected-item]="opt === dataOptions?.selected"
      (click)="changeDataType(opt)"
    >
      {{ opt | translate }}
    </button>
  }
</mat-menu>
