.kl-warning-information {
  margin: 10px 10px;
  padding: 8px 12px;
  background: var(--warning-bg, #fff3e0);
  border: 1px solid var(--warning-border, #ffcc80);
  border-radius: var(--border-radius);

  &.inline {
    // margin: 0 0 0 15px;
    padding: 4px 8px;
    display: inline-flex;
    align-items: center;
  }

  .warning-text {
    margin-left: 10px !important;
    font-size: 0.9em;
    color: var(--orange-main);
    font-weight: 500;
    line-height: 1.3;
  }

  &.inline .warning-text {
    margin-left: 6px !important;
    font-size: 0.8em;
  }

  &.inline svg {
    width: 20px;
    height: 20px;
  }
}
