<div id="distribution-graph-comp" fxLayout="column" fxFlexFill>
  @if (inputDatas) {
    <div fxFlexFill fxLayout="column">
      <div fxLayout="row" fxLayoutAlign="end center" class="comp-header">
        @if (!hideGraphOptions) {
          <div fxFlex fxLayout="row" fxLayoutAlign="start center">
            <h2 title="{{ 'TOOLTIPS.DISTRIBUTION.TITLE' | translate }}">
              {{ dynamicTitle | translate }}
            </h2>
          </div>
        }
        @if (shouldShowLegend) {
          <kl-legend
            [inputDatas]="inputDatas"
            [type]="'chart-1d'"
            [colorSet]="colorSet"
          ></kl-legend>
        }
        @if (!hideGraphOptions) {
          <div class="comp-header-tools screenshot-hide" fxLayout="row">
            <kl-graph-options-menu
              [graphOptions]="graphOptions"
              (graphOptionsChange)="changeGraphType($event)"
            ></kl-graph-options-menu>
          </div>
        }
      </div>
      <kl-chart
        id="{{ 'distribution-graph-comp-' + position }}"
        [chartOptions]="chartOptions"
        [canvasIdContainer]="'distribution-chart-' + position"
        (selectBarIndex)="onSelectBarChanged($event)"
        [colorSet]="colorSet"
        [inputDatas]="inputDatas"
        [activeEntries]="activeEntries"
      ></kl-chart>
    </div>
  }
  @if (!inputDatas) {
    <kl-no-data fxFlexFill></kl-no-data>
  }
</div>
