<div id="distribution-graph-comp" fxLayout="column" fxFlexFill>
  <div *ngIf="inputDatas" fxFlexFill fxLayout="column">
    <div fxLayout="row" fxLayoutAlign="end center" class="comp-header">
      <div
        fxFlex
        fxLayout="row"
        fxLayoutAlign="start center"
        *ngIf="!hideGraphOptions"
      >
        <h2 title="{{ 'TOOLTIPS.DISTRIBUTION.TITLE' | translate }}">
          {{ dynamicTitle | translate }}
        </h2>
      </div>
      <div
        class="comp-header-tools screenshot-hide"
        fxLayout="row"
        *ngIf="!hideGraphOptions"
      >
        <kl-graph-options-menu
          [graphOptions]="graphOptions"
          (graphOptionsChange)="changeGraphType($event)"
        ></kl-graph-options-menu>
      </div>
    </div>
    <kl-chart
      id="{{ 'distribution-graph-comp-' + position }}"
      [chartOptions]="chartOptions"
      [canvasIdContainer]="'distribution-chart-' + position"
      (selectBarIndex)="onSelectBarChanged($event)"
      [colorSet]="colorSet"
      [inputDatas]="inputDatas"
      [activeEntries]="activeEntries"
    ></kl-chart>
  </div>
  <kl-no-data fxFlexFill *ngIf="!inputDatas"></kl-no-data>
</div>
