/* Level distribution button component styles */
.level-distribution-btn {
  margin-right: 0px !important;
  margin-left: 10px !important;
  padding: 10px !important;
}

.level-distribution-btn.small-div {
  min-width: auto;
}
