<div
  id="project-view-comp"
  fxLayout="column"
  fxFlexFill
  fxLayoutAlign="start start"
>
  <div fxLayout="column" fxFlexFill fxLayoutAlign="start start">
    <div id="project-view-comp-table" fxFlexFill fxLayout="row">
      <kl-informations-block
        fxFlex
        title="{{ 'GLOBAL.SUMMARY' | translate }}"
        [inputDatas]="projectSummaryDatas"
      >
      </kl-informations-block>
      <kl-file-loader
        [onFileLoaderDataChanged]="onFileLoaderDataChangedCb"
        [applicationName]="appName"
      >
      </kl-file-loader>
    </div>
  </div>
</div>
