#project-view-comp {
  display: inline-table !important;
  background: var(--bgColor) !important;
  kl-file-loader {
    margin-right: 20px;
    position: absolute;
    right: 0;
  }
  #project-view-comp-table {
    display: flex;
    flex-direction: column;
    padding: 1rem;

    kl-informations-block {
      padding-bottom: 1em;
    }
  }
}
