#project-view-comp {

	display: inline-table !important;
	background: var(--bgColor) !important;

	#project-view-comp-table {
		display: flex;
		flex-direction: column;
		padding: 1rem;

		kl-informations-block {
			padding-bottom: 1em;
		}

		kl-file-loader {
			margin-right: 1rem;
		}

	}

}
