<mat-button-toggle-group
  id="matrix-option-toggle"
  class="matrix-toggle-comp"
  [hideSingleSelectionIndicator]="true"
  [hideMultipleSelectionIndicator]="true"
  #group="matButtonToggleGroup"
  [value]="matrixOptions.selected"
>
  @for (opt of matrixOptions.types; track opt) {
    <mat-button-toggle
      [value]="opt"
      title="{{ 'TOOLTIPS.COMMONS.MATRIX_MODE' | translate }}"
      (click)="changeMatrixType(opt)"
    >
      <span>{{ opt | translate }}</span>
    </mat-button-toggle>
  }
</mat-button-toggle-group>
