.btn-fullscreen-comp {
  display: flex !important;
  padding-left: 2px !important;
  height: 33px !important;
  min-width: 34px !important;
  padding: 0 !important;
  margin-right: 5px !important;
  ::ng-deep mat-icon {
    margin-bottom: 2px !important;
    font-size: 20px !important;
    display: flex;
  }
}
