.btn-fullscreen-comp {
  ::ng-deep span {
    line-height: 24px !important;
  }
  ::ng-deep mat-icon {
    margin-bottom: 2px;
  }
  height: 33px !important;
  min-width: 34px !important;
  padding: 0 !important;
  margin-right: 5px !important;
}
