<div [id]="id" fxFlexFill #levelGraph>
  <div fxFlexFill fxLayout="column">
    <div fxLayout="row" fxLayoutAlign="start center" class="comp-header">
      <div fxFlex fxLayout="row" fxLayoutAlign="start center">
        <h1>{{ levelDistributionTitle }}</h1>
      </div>
      <kl-legend
        [inputDatas]="
          distributionType === 'level' ? 'GLOBAL.LEVEL' : 'GLOBAL.IMPORTANCE'
        "
        [type]="'chart-1d'"
        [colorSet]="colorSet"
      ></kl-legend>
      <div class="comp-header-tools screenshot-hide" fxLayout="row">
        <h2>{{ 'GLOBAL.SCALE' | translate }} :</h2>
        <mat-slider
          [max]="maxScale"
          [min]="minScale"
          [step]="stepScale"
          (input)="onScaleChanged($event?.target?.['valueAsNumber'])"
          attr.aria-label="{{ 'ARIA.CHARTS.UPDATE_GRAPH_SCALE' | translate }}"
        >
          <input [(ngModel)]="scaleValue" matSliderThumb />
        </mat-slider>
        <kl-header-tools [showMenu]="false"></kl-header-tools>
      </div>
      <button
        [id]="graphIdContainer + '-close-btn'"
        color="primary"
        class="screenshot-hide"
        matDialogClose
        mat-icon-button
        fxLayoutAlign="center center"
      >
        <mat-icon fxFlexFill fxLayoutAlign="center center">close</mat-icon>
      </button>
    </div>
    <kl-chart
      class="kl-card"
      [id]="graphIdContainer"
      [canvasIdContainer]="graphIdContainer + '-chart'"
      [chartOptions]="chartOptions"
      [colorSet]="colorSet"
      [inputDatas]="inputDatas"
    ></kl-chart>
  </div>
</div>
