/* Generic styles for distribution graphs, supporting both level and importance */
#level-distribution-graph-comp,
#importance-distribution-graph-comp {
  kl-chart {
    padding-top: 30px;
    height: 90% !important;
    margin-bottom: 15px;
  }

  .comp-header {
    padding: 20px 10px;
    background-color: unset !important;
    .comp-header-tools {
      h2 {
        margin: 0.8em 1em 0em 2em;
      }
    }
  }
}

#level-distribution-graph-comp.selected,
#importance-distribution-graph-comp.selected {
  > div {
    box-shadow: none !important;
  }
}

#level-distribution-graph-comp.selected::before,
#importance-distribution-graph-comp.selected::before {
  border: none !important;
}
