<kl-ag-grid
	*ngIf="treeDetails && treeDetails.values"
	id="tree-details-comp"
	class="variables-list"
	fxFlexFill
	[showLevelDistribution]="false"
	[showSearch]="false"
	[displayCount]="false"
	[showLineSelection]="true"
	[title]="treeDetails.title"
	[showColumnsSelection]="true"
	(selectListItem)="onSelectListItemChanged($event)"
	[selectedVariable]="selectedNode"
	[inputDatas]="treeDetails.values"
	[displayedColumns]="treeDetails.displayedColumns"
>
</kl-ag-grid>
<kl-no-data fxFlex *ngIf="!(treeDetails && treeDetails.values)"></kl-no-data>
