<div id="home-layout-comp" fxFlexFill role="main">
  <mat-sidenav-container fxFlexFill>
    <mat-sidenav
      #sidenav
      mode="over"
      position="end"
      disableClose="true"
      [(opened)]="opened"
    >
      <app-user-settings
        (toggleNavDrawerChanged)="onToggleNavDrawerChanged()"
        [opened]="opened"
      >
      </app-user-settings>
    </mat-sidenav>
    <mat-sidenav-content>
      <kl-header-title [title]="appTitle" *ngIf="showLogo"> </kl-header-title>
      <div class="container" [hidden]="isCompatibleJson" fxLayout="column">
        <kl-file-loader #fileLoader [hidden]="true"></kl-file-loader>
        <kl-no-data
          id="welcome-message"
          fxFlexFill
          fxLayoutAlign="center center"
          *ngIf="checkEmptyMessageVisibility()"
          [message]="'NO_DATAS.WELCOME'"
        >
        </kl-no-data>
      </div>
      <div *ngIf="isCompatibleJson" class="container" fxLayout="column">
        <mat-tab-group
          #tabsMenu
          [animationDuration]="0"
          mat-align-tabs="center"
          color="primary"
          [@.disabled]="true"
          [selectedIndex]="activeTab"
          (selectedTabChange)="onSelectedTabChanged($event)"
        >
          <mat-tab label="{{ 'TITLE.AXIS' | translate }}">
            <ng-template matTabLabel>
              <label title="{{ 'TOOLTIPS.TABS.AXIS' | translate }}">{{
                'TITLE.AXIS' | translate
              }}</label>
            </ng-template>
          </mat-tab>
          <mat-tab
            *ngIf="isContextDimensions"
            label="{{ 'TITLE.CONTEXT' | translate }}"
          >
            <ng-template matTabLabel>
              <label title="{{ 'TOOLTIPS.TABS.CONTEXT' | translate }}">{{
                'TITLE.CONTEXT' | translate
              }}</label>
            </ng-template>
          </mat-tab>
          <mat-tab
            label="{{ 'TITLE.PROJECT' | translate }}"
            *ngIf="showProjectTab"
          >
            <ng-template matTabLabel>
              <label title="{{ 'TOOLTIPS.TABS.PROJECT' | translate }}">{{
                'TITLE.PROJECT' | translate
              }}</label>
            </ng-template>
          </mat-tab>
        </mat-tab-group>
        <app-project-view
          [hidden]="!showProjectView()"
          [selectedTab]="selectedTab"
        ></app-project-view>
        <app-axis-view
          [hidden]="!showAxisView()"
          [selectedTab]="selectedTab"
          [openContextView]="openContextView"
        >
        </app-axis-view>
      </div>
      <div id="header-right" layout="row" fxLayoutAlign="center center">
        <app-header-manage-view
          *ngIf="showAxisView() && isCompatibleJson"
        ></app-header-manage-view>
        <kl-header-tools
          fxFlex
          *ngIf="isCompatibleJson"
          (toggleNavDrawerChanged)="onToggleNavDrawerChanged()"
        >
        </kl-header-tools>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
