<div id="home-layout-comp" role="main">
  <mat-sidenav-container fxFlexFill>
    <mat-sidenav
      #sidenav
      mode="over"
      position="end"
      disableClose="true"
      [(opened)]="opened"
    >
      <app-user-settings
        (toggleNavDrawerChanged)="onToggleNavDrawerChanged($event)"
        [opened]="opened"
      >
      </app-user-settings>
    </mat-sidenav>
    <mat-sidenav-content>
      @if (showLogo && isCompatibleJson) {
        <kl-header-title [title]="appTitle"> </kl-header-title>
      }
      <div class="container" [hidden]="isCompatibleJson" fxLayout="column">
        <kl-file-loader #fileLoader [hidden]="true"></kl-file-loader>
      </div>
      @if (isCompatibleJson) {
        <div class="container" fxLayout="column">
          <mat-tab-group
            #tabsMenu
            id="main-tab-group"
            [animationDuration]="0"
            mat-align-tabs="center"
            color="primary"
            [@.disabled]="true"
            [selectedIndex]="activeTab"
            (selectedTabChange)="onSelectedTabChanged($event)"
          >
            <mat-tab label="{{ 'TITLE.AXIS' | translate }}">
              <ng-template matTabLabel>
                <label title="{{ 'TOOLTIPS.TABS.AXIS' | translate }}">{{
                  'TITLE.AXIS' | translate
                }}</label>
              </ng-template>
            </mat-tab>
            @if (isContextDimensions) {
              <mat-tab label="{{ 'TITLE.CONTEXT' | translate }}">
                <ng-template matTabLabel>
                  <label title="{{ 'TOOLTIPS.TABS.CONTEXT' | translate }}">{{
                    'TITLE.CONTEXT' | translate
                  }}</label>
                </ng-template>
              </mat-tab>
            }
            @if (showProjectTab) {
              <mat-tab label="{{ 'TITLE.PROJECT' | translate }}">
                <ng-template matTabLabel>
                  <label title="{{ 'TOOLTIPS.TABS.PROJECT' | translate }}">{{
                    'TITLE.PROJECT' | translate
                  }}</label>
                </ng-template>
              </mat-tab>
            }
          </mat-tab-group>
          <app-project-view
            [hidden]="!showProjectView()"
            [selectedTab]="selectedTab"
          ></app-project-view>
          <app-axis-view
            [hidden]="!showAxisView()"
            [selectedTab]="selectedTab"
            [openContextView]="openContextView"
          >
          </app-axis-view>
        </div>
      }
      <div id="header-right" layout="row" fxLayoutAlign="center center">
        @if (showAxisView() && isCompatibleJson) {
          <app-header-manage-view></app-header-manage-view>
        }
        @if (isCompatibleJson) {
          <kl-header-tools
            fxFlex
            (toggleNavDrawerChanged)="onToggleNavDrawerChanged($event)"
          >
          </kl-header-tools>
        }
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
