@use '../../../../styles/theme.scss';
#home-layout-comp {
  #main-tab-group {
    > ::ng-deep .mat-mdc-tab-header {
      max-width: calc(100% - 600px);
      min-width: 200px !important;
      margin: 0 auto 10px auto;
    }
  }
  .mat-mdc-tab-label-container {
    margin-right: 10rem;
  }
  #header-right {
    position: absolute;
    top: 0;
    right: 0;
    height: var(--header-height);
    z-index: 1000;
  }

  #version {
    position: absolute;
    right: 0;
    top: 1.8em;
  }

  mat-tab-group {
    width: 100%;
    top: 0;
    position: absolute;
  }

  app-project-view,
  app-axis-view {
    background: var(--bg-color-20) !important;
    padding: 0;
    width: 100%;
    margin-top: calc(var(--header-height) + 10px);
    top: 0;
    position: absolute;
    height: calc(100% - var(--header-height) - 10px);
  }
}
