<svg
  [attr.width]="size"
  [attr.height]="size"
  [attr.viewBox]="getViewBox()"
  version="1.1"
  xmlns="http://www.w3.org/2000/svg"
>
  <!-- Background circle -->
  <circle
    [attr.r]="getRadius()"
    [attr.cx]="getCenter()"
    [attr.cy]="getCenter()"
    fill="transparent"
    stroke="#eee"
    [attr.stroke-width]="getBackgroundStrokeWidth()"
  ></circle>

  <!-- Progress circle -->
  <circle
    [attr.r]="getRadius()"
    [attr.cx]="getCenter()"
    [attr.cy]="getCenter()"
    stroke="#555"
    [attr.stroke-width]="getProgressStrokeWidth()"
    stroke-linecap="butt"
    [attr.stroke-dashoffset]="getStrokeDashOffset()"
    fill="transparent"
    [attr.stroke-dasharray]="getStrokeDashArray()"
    [attr.transform]="getCircleTransform()"
  ></circle>

  <!-- Percentage text -->
  <text
    [attr.x]="getCenter()"
    [attr.y]="getCenter()"
    fill="#555"
    [attr.font-size]="getFontSize() + 'px'"
    font-weight="bold"
    text-anchor="middle"
    dominant-baseline="central"
  >
    {{ getPercentageValue() }}%
  </text>
</svg>
