.app-change-scale-button {
  h2 {
    font-size: 0.95em;
  }
  button {
    height: 33px !important;
    min-width: 34px !important;
    width: 34px !important;
    padding: 0 !important;
    margin-right: 5px !important;
    mat-icon {
      font-size: 20px !important;
    }
  }
}
