<div class="target-distribution-graph-canvas-comp" fxFlexFill fxLayout="column"
	[ngClass]="{'fullscreen': isFullscreen}">
	<div *ngIf="inputDatas" fxFlexFill fxLayout="column">
		<div fxLayout="row" fxLayoutAlign="start center" class="comp-header">
			<div fxFlex fxLayout="row" fxLayoutAlign="start center">
				<h2 title="{{titleTooltip}}">{{ title }}</h2>
			</div>
			<kl-legend [inputDatas]="displayedValues" [type]="'chart-nd-dynamic'" [colorSet]="colorSet"></kl-legend>
			<div class="comp-header-tools screenshot-hide" fxLayout="row">
				<app-select-toggle-button *ngIf="displayedValues" [displayedValues]="displayedValues"
					(selectToggleButtonChanged)="onSelectToggleButtonChanged($event)" [buttonTitle]="buttonTitle">
				</app-select-toggle-button>
				<button mat-stroked-button color="primary" [matMenuTriggerFor]="graphOptionsTypes">{{ graphOptions.selected | translate }} <em>v</em></button>
				<mat-menu #graphOptionsTypes>
					<button mat-menu-item *ngFor="let opt of graphOptions.types" (click)="changeGraphType(opt)">{{ opt | translate }}</button>
				</mat-menu>
			</div>
			<kl-btn-fullscreen *ngIf="showFullscreenBtn" (toggleFullscreen)="onToggleFullscreen($event)">
			</kl-btn-fullscreen>
		</div>
		<kl-chart-next id="{{'target-distribution-graph-canvas-comp-' + position}}" [chartOptions]="chartOptions"
			[canvasIdContainer]="'target-distribution-chart-canvas-' + position"
			(selectBarIndex)="onSelectBarChanged($event)" [colorSet]="colorSet" [inputDatas]="inputDatas"
			[activeEntries]="activeEntries"></kl-chart-next>
	</div>
	<kl-no-data fxFlexFill *ngIf="!inputDatas"></kl-no-data>
</div>
