#tree-leaf-details-comp {

	>h1 {}

	height: 100%;
	position: relative;

	.distribution-graph,
	.target-distribution-graph {
		position: relative;
		width: 100%;
		height: 50%;
		overflow: hidden !important;
	}

	::ng-deep .mat-tab-disabled {
		opacity: 1 !important;
	}

	::ng-deep .mat-tab-header {
		height: 48px !important;
	}

	::ng-deep .mat-tab-labels {
		justify-content: start !important;
	}

	::ng-deep .mat-tab-label {
		height: 48px !important;
		height: 48px !important;
		margin: 0 !important;
	}

	::ng-deep .mat-tab-label-container {
		width: 100% !important;
	}

	::ng-deep .mat-tab-label.mat-tab-disabled {
		position: absolute !important;
		right: 0 !important;
		padding-right: 0 !important;
	}

	::ng-deep .mat-tab-label.mat-tab-disabled:hover {
		background-color: transparent !important;
	}

	::ng-deep kl-distribution-graph-canvas,
	::ng-deep app-target-distribution-graph-canvas {
		::ng-deep .kl-chart-next-canvas-comp {
			min-width: 100px !important;

			::ng-deep canvas {
				min-width: 100px !important;
			}
		}
	}

	#tree-node-infos {
		padding: 1rem 0 2rem 0;
	}
}
