#cell-stats-comp {
  padding: 0.5rem;
  max-height: 38px;
  min-height: 38px !important;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  display: block !important;
  font-size: 0.8rem;
  margin: 0px;
  padding: 1px;

  .cell-stats-content {
    font-size: 0.9em;
    font-weight: 500;
    color: var(--primary-contrast);
    background: var(--bg-color-20);
    padding: 1px 5px;
    border-radius: 4px;
    margin: 4px 0;
    display: initial;

    b {
      font-weight: 500;
    }

    span {
      margin-left: 1rem;
    }
  }
}
