#import-ext-datas-comp {
  #import-ext-datas-header {
    height: 68px;

    h2 {
      margin-left: 1em;
    }

    button {
      margin-left: 1em;
    }
  }

  #import-ext-datas-content {
    overflow: auto;
    max-height: 70vh;
    padding-bottom: 1.4em !important;
  }

  #import-ext-datas-content-empty {
    margin: 3em;

    span {
      text-align: center;
    }
  }

  .import-ext-datas-row {
    margin: 1.6em 0 0em 0;

    span:first-child {
      min-width: 180px;
    }

    > * {
      margin-left: 20px;
    }

    input {
      width: 30px;
    }
  }

  kl-ag-grid {
    border: 1px solid var(--border-color);
    min-height: 212px;
    max-height: 212px;
    height: 212px !important;

    ::ng-deep .ag-center-cols-viewport {
      overflow-x: hidden;
    }
  }

  #import-ext-datas-footer {
    margin-top: 1em;

    button {
      margin-left: 1em;
    }
  }
}
