<div id="import-ext-datas-comp" fxFlexFill #manageViews fxLayout="column">
  <div
    fxLayout="row"
    id="import-ext-datas-header"
    fxLayoutAlign="center center"
  >
    <h2 fxFlex>
      {{ 'GLOBAL.IMPORT_NEW_EXTERNAL_DATA' | translate | uppercase }}
    </h2>
  </div>
  <div id="import-ext-datas-content" fxLayout="column" class="kl-card">
    <div *ngIf="importExtDatas && importExtDatas.datas" fxLayout="column">
      <div
        class="import-ext-datas-row"
        fxLayout="row"
        fxLayoutAlign="start center"
      >
        <h1>{{ translate.get('GLOBAL.EXTERNAL_DATA_FILE') }}</h1>
      </div>

      <div
        class="import-ext-datas-row"
        fxLayout="row"
        fxLayoutAlign="start center"
      >
        <span>{{ 'GLOBAL.JOINT_KEY' | translate }}</span>
        <div fxLayout="row" fxLayoutAlign="start center">
          <button
            class="button-accent"
            mat-stroked-button
            color="accent"
            [matMenuTriggerFor]="joinKeyMenu"
          >
            {{ joinKeys.selected
            }}<em><mat-icon>keyboard_arrow_down</mat-icon> </em>
          </button>
          <mat-menu #joinKeyMenu>
            <button
              mat-menu-item
              *ngFor="let key of joinKeys.keys"
              (click)="changeJoinKey(key)"
            >
              {{ key }}
            </button>
          </mat-menu>
        </div>
        <!-- <span>{{ 'GLOBAL.SEPARATOR' | translate }} :</span>
				<input  name="separatorInput" [(ngModel)]="separatorInput">
				<span>{{ 'GLOBAL.EMPTY_HT_INSTRUCTIONS' | translate }}</span> -->
      </div>

      <div
        class="import-ext-datas-row"
        fxLayout="row"
        fxLayoutAlign="start center"
      >
        <span>{{ 'GLOBAL.FIELDS_TO_IMPORT' | translate }}</span>
        <div fxFlex id="importext-datas-table" fxLayout="column">
          <kl-ag-grid
            fxFlex
            [showSearch]="false"
            (gridCheckboxChanged)="onGridCheckboxChanged($event)"
            [showLineSelection]="false"
            [suppressRowClickSelection]="true"
            [showColumnsSelection]="false"
            [inputDatas]="fieldsToImport.values"
            [title]="''"
            [displayedColumns]="fieldsToImport.displayedColumns"
          >
          </kl-ag-grid>
        </div>
      </div>

      <div
        class="import-ext-datas-row"
        fxLayout="row"
        fxLayoutAlign="start center"
      >
        <span>{{ 'GLOBAL.DIMENSION' | translate }}</span>
        <div fxFlex fxLayout="row" fxLayoutAlign="start center">
          <button
            class="button-accent"
            mat-stroked-button
            color="accent"
            [matMenuTriggerFor]="dimensionMenu"
          >
            {{ selectedDimension?.name }}
            <em><mat-icon>keyboard_arrow_down</mat-icon> </em>
          </button>
          <mat-menu #dimensionMenu>
            <button
              mat-menu-item
              *ngFor="
                let dimension of dimensionsDatasService.dimensionsDatas
                  .dimensions
              "
              (click)="changeSelectedDimension(dimension)"
            >
              {{ dimension.name }}
            </button>
          </mat-menu>
        </div>
      </div>
    </div>
  </div>
  <div
    id="import-ext-datas-footer"
    fxLayout="row"
    fxLayoutAlign="center center"
  >
    <h2 fxFlex></h2>
    <button mat-stroked-button (click)="onClickOnCancel()">
      {{ 'GLOBAL.CANCEL' | translate }}
    </button>
    <button
      mat-flat-button
      matRipple
      [matRippleColor]="'rgba(122 122 122 / 0.4)'"
      (click)="onClickOnSave()"
      color="primary"
    >
      {{ 'GLOBAL.LOAD_DATAS' | translate }}
    </button>
  </div>
</div>
