@if (dimensionTree) {
  <div
    fxLayout="column"
    id="tree-select-comp"
    fxFlex
    [ngClass]="{ fullscreen: isFullscreen }"
  >
    <div
      id="graph-header-comp"
      fxLayoutAlign="start center"
      class="scrollbar-thin"
    >
      <h1 fxFlex>{{ 'GLOBAL.DECISION_TREE' | translate }}</h1>
      <kl-btn-fullscreen
        class="screenshot-hide"
        (toggleFullscreen)="onToggleFullscreen($event)"
      >
      </kl-btn-fullscreen>
    </div>
    <div id="tree-select-comp-content" fxFlex>
      <div id="{{ 'tree_0' }}"></div>
    </div>
  </div>
}
@if (!dimensionTree) {
  <kl-no-data fxFlex></kl-no-data>
}
