<div
  id="project-view-comp"
  fxLayout="column"
  fxFlexFill
  fxLayoutAlign="start start"
>
  <as-split direction="vertical" (dragEnd)="onSplitDragEnd($event, 'row')">
    <as-split-area [size]="sizes?.row[0]" class="kl-card">
      <div fxLayout="column" fxFlexFill fxLayoutAlign="start start">
        <div
          id="project-view-comp-table"
          fxFlexFill
          fxLayoutAlign="start start"
          fxLayout="row"
        >
          <app-project-summary
            fxFlex
            [projectDatasService]="projectDatasService"
          ></app-project-summary>
        </div>
        <kl-file-loader *ngIf="debugFile && !isElectron"> </kl-file-loader>
      </div>
    </as-split-area>
    <as-split-area [size]="sizes?.row[1]" class="kl-card">
      <app-project-logs></app-project-logs>
    </as-split-area>
  </as-split>
</div>
