<div
  id="project-view-comp"
  fxLayout="column"
  fxFlexFill
  fxLayoutAlign="start start"
>
  <as-split
    [gutterSize]="7"
    direction="vertical"
    (dragEnd)="onSplitDragEnd($event, 'row')"
  >
    <as-split-area [size]="sizes?.row[0]">
      <div fxLayout="column" fxFlexFill fxLayoutAlign="start start">
        <div
          id="project-view-comp-table"
          fxFlexFill
          fxLayoutAlign="start start"
          fxLayout="row"
        >
          <kl-informations-block
            fxFlex
            title="{{ 'GLOBAL.SUMMARY' | translate }}"
            [inputDatas]="projectSummaryDatas"
          >
          </kl-informations-block>
          <!-- Important to do not show loader on Electron to prevent multiple onFileLoaderDataChanged -->
          <kl-file-loader
            *ngIf="debugFile && !isElectron"
            [onFileLoaderDataChanged]="onFileLoaderDataChangedCb"
            [applicationName]="appName"
          >
          </kl-file-loader>
        </div>
      </div>
    </as-split-area>
    <as-split-area [size]="sizes?.row[1]" *ngIf="projectLogsDatas">
      <kl-ag-grid
        id="project-logs"
        class="variables-list"
        fxFlexFill
        [showLevelDistribution]="false"
        [showSearch]="false"
        [displayCount]="false"
        [showLineSelection]="false"
        [title]="logsTitle"
        [showColumnsSelection]="false"
        [inputDatas]="projectLogsDatas"
        [displayedColumns]="logsDisplayedColumns"
      >
      </kl-ag-grid>
    </as-split-area>
  </as-split>
</div>
