#project-view-comp {

	display: inline-table !important;
	background: white;

	#project-view-comp-table {
		margin: auto;
		height: auto;
		display: flex;
		flex-direction: column;

		kl-informations-block {
			margin: 1em auto;
			max-width: 1000px;
			padding-bottom: 1em;
		}

	}

}
