#target-lift-graph-comp {
  padding: 1px;
  background-color: var(--bgColor) !important;

  .comp-header {
    margin: 10px 1px;
    overflow-x: auto;
    overflow-y: hidden;

    h1 {
      margin-right: 1em !important;
    }
  }
}
