
#target-lift-graph-comp {
	padding: 1px;
	background-color: var(--bgColor) !important;

	.comp-header {
		margin: 10px 1px;

		h1 {
			margin-right: 1em !important;
		}

		button {
			white-space: pre-wrap !important;
		}

	}

}
