<div class="matrix-tooltip-comp" #matrixTooltipDiv>
  @if (cell) {
    <div class="matrix-tooltip-title">
      <div>{{ cell.xnamePart }}: {{ truncateText(cell.xDisplayaxisPart) }}</div>
      <div>{{ cell.ynamePart }}: {{ truncateText(cell.yDisplayaxisPart) }}</div>
    </div>
    <div class="matrix-tooltip-content">
      <!-- Main value (not for Hellinger type) -->
      @if (shouldShowMainValue) {
        <div>
          {{ getMainValueLabel() | translate }}:
          {{ cell.displayedValue.value | toPrecision }}
        </div>
      }
      <!-- Frequency (not for Frequency type) -->
      @if (shouldShowFrequency) {
        <div>
          {{ 'GLOBAL.FREQUENCY' | translate }}:
          {{ cell.displayedFreqValue | toPrecision }}
        </div>
      }
      <!-- Expected frequency (conditionally shown) -->
      @if (shouldShowExpectedFrequency) {
        <div>
          {{ 'GLOBAL.EXPECTED_FREQUENCY' | translate }}:
          {{ cell.displayedValue.ef | toPrecision }}
        </div>
      }
      <!-- Hellinger value (only for Hellinger type) -->
      @if (shouldShowHellingerValue) {
        <div>
          {{ getHellingerValueLabel() | translate }}:
          {{ cell.displayedValue.extra | toPrecision }}
        </div>
      }
    </div>
  }
</div>
