.matrix-tooltip-comp {
  opacity: 0;
  position: fixed;
  text-align: left;
  word-break: break-all;
  max-width: 300px;
  min-width: 300px;
  color: white;
  font-size: 13px;
  background: rgba(0, 0, 0, 0.8);
  pointer-events: none;
  border-radius: 0px;
  transition: opacity 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 500ms;

  &.visible {
    opacity: 1;
    transition-delay: 0ms;
  }

  .matrix-tooltip-title {
    padding: 10px 10px 0 10px;
    width: calc(100% - 20px);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

    div {
      margin: 0;
      padding: 0;
      font-weight: 500;
    }
  }

  .matrix-tooltip-content {
    width: 100%;
    padding: 10px;
    font-weight: 300;

    div {
      margin: 2px 0;
    }
  }
}
