<div
  id="composition-detailed-parts-comp"
  fxFlexFill
  #manageViews
  fxLayout="column"
>
  <div
    fxLayout="row"
    id="composition-detailed-parts-header"
    fxLayoutAlign="center center"
  >
    <h2 fxFlex>{{ 'GLOBAL.PART_DETAILS' | translate | uppercase }}</h2>
    <button
      class="grey-btn"
      mat-icon-button
      matTooltip="{{ 'GLOBAL.CLOSE' | translate }}"
      (click)="onClickOnClose()"
    >
      <mat-icon fxFlexFill fxLayoutAlign="center center">close</mat-icon>
    </button>
  </div>
  <div
    id="composition-detailed-parts-content"
    fxLayout="column"
    fxFlexFill
    fxLayoutAlign="start center"
  >
    <div
      *ngIf="detailedDatas && detailedDatas.values"
      id="composition-detailed-parts-list-table"
      fxFlexFill
      fxLayout="column"
      fxLayoutAlign="start center"
    >
      <kl-ag-grid
        fxFlexFill
        [showLevelDistribution]="false"
        [showSearch]="false"
        [showLineSelection]="false"
        [showColumnsSelection]="false"
        [inputDatas]="detailedDatas.values"
        [title]="''"
        [displayedColumns]="detailedDatas.displayedColumns"
      >
      </kl-ag-grid>
    </div>
  </div>
</div>
