#composition-detailed-parts-comp {
  #composition-detailed-parts-header {
    height: 68px;

    h2 {
      margin-right: 1em;
      margin-left: 1em;
    }
  }

  #composition-detailed-parts-content {
    overflow: hidden;

    #composition-detailed-parts-list-table {
      padding: 1em;
      margin-bottom: 1em;
    }
  }

  #composition-detailed-parts-content-empty {
    margin: 3em;

    span {
      text-align: center;
    }
  }

  kl-ag-grid {
    border: 1px solid var(--border-color);
    min-height: 212px;

    ::ng-deep .ag-center-cols-viewport {
      overflow-x: hidden;
    }
  }
}

#composition-detailed-parts-comp.selected::before {
  border: none !important;
}
