<div fxLayout="row" id="unfold-hierarchy-header" fxLayoutAlign="center center">
  <h2 fxFlex>
    {{ 'GLOBAL.UNFOLD_HIERARCHY' | translate | uppercase }}
  </h2>
  <kl-header-tools [showMenu]="false"></kl-header-tools>
  <button mat-stroked-button (click)="onClickOnCancel()">
    {{ 'GLOBAL.CANCEL' | translate }}
  </button>
  <button
    class="button-confirm-hierarchy"
    mat-flat-button
    (click)="onClickOnSave()"
    color="primary"
  >
    {{ 'GLOBAL.OK' | translate }}
  </button>
</div>
