<div
  id="variable-graph-details-comp"
  fxLayout="column"
  fxFlexFill
  [ngClass]="{ fullscreen: isFullscreen }"
>
  @if (isLoading) {
    <div
      fxLayout="column"
      class="histogram-loading-indicator"
      fxLayoutAlign="center center"
      fxFlexFill
    >
      <mat-spinner
        diameter="40"
        color="accent"
        mode="indeterminate"
      ></mat-spinner>
      <span>{{ 'GLOBAL.BIG_FILES_LOADING_WARNING' | translate }}</span>
    </div>
  }
  @if (
    !isLoading &&
    (distributionDatas?.distributionGraphDatas ||
      distributionDatas?.targetDistributionGraphDatas ||
      distributionDatas?.histogramDatas)
  ) {
    <div fxLayout="column" fxFlexFill>
      <kl-graph-header
        [selectedVariable]="selectedVariable"
        (scaleValueChanged)="onScaleValueChanged($event)"
        (toggleFullscreen)="onToggleFullscreen($event)"
        [hideScale]="hideScaleElt()"
        [showZoom]="distributionDatas?.histogramDatas ? true : false"
      >
      </kl-graph-header>
      @if (
        showDistributionGraph &&
        distributionDatas?.distributionGraphDatas &&
        !distributionDatas?.histogramDatas
      ) {
        <kl-distribution-graph
          #distributionGraph
          fxFlex="1 1 100%"
          class="distribution-graph"
          id="{{ 'distribution-graph' + position }}"
          [attr.id]="'distribution-graph' + position"
          [position]="position"
          [scrollPosition]="scrollPosition"
          (scrollPositionChanged)="onScrollPositionChanged($event)"
          [scaleValue]="scaleValue"
          [graphOptions]="distributionDatas?.distributionGraphOptionsY"
          [inputDatas]="distributionDatas?.distributionGraphDatas"
          [variableType]="selectedVariable?.type"
          [variableRank]="selectedVariable?.rank"
          (graphTypeChanged)="onDistributionGraphTypeChanged($event)"
          [activeEntries]="activeEntries"
          (selectedItemChanged)="onSelectedDistributionGraphItemChanged($event)"
        >
        </kl-distribution-graph>
      }
      @if (distributionDatas?.histogramDatas) {
        <app-histogram
          id="app-histogram"
          class="app-histogram"
          fxFlex="1 1 100%"
          [graphOptionsX]="distributionDatas?.distributionGraphOptionsX"
          [graphOptionsY]="distributionDatas?.distributionGraphOptionsY"
          [datas]="distributionDatas?.histogramDatas"
          [selectedItem]="activeEntries"
          (selectedItemChanged)="onSelectedDistributionGraphItemChanged($event)"
          [interpretableHistogramNumber]="
            distributionDatas?.interpretableHistogramNumber
          "
          [defaultInterpretableHistogramNumber]="
            distributionDatas?.defaultInterpretableHistogramNumber - 1
          "
          [histogramNumber]="distributionDatas?.histogramNumber"
          [variableRank]="selectedVariable?.rank"
          (interpretableHistogramChanged)="
            onInterpretableHistogramChanged($event)
          "
        >
        </app-histogram>
      }
      @if (
        showTargetDistributionGraph &&
        distributionDatas?.targetDistributionGraphDatas
      ) {
        <app-target-distribution-graph
          #targetDistributionGraph
          fxFlex="1 1 100%"
          titleTooltip="{{
            'TOOLTIPS.PREPARATION.TARGET_DISTRIBUTION.TITLE' | translate
          }}"
          [position]="position"
          class="target-distribution-graph"
          id="{{ 'target-distribution-graph' + position }}"
          [attr.id]="'target-distribution-graph' + position"
          [displayedValues]="
            distributionDatas?.targetDistributionDisplayedValues
          "
          (scrollPositionChanged)="onScrollPositionChanged($event)"
          [scrollPosition]="scrollPosition"
          (selectedItemChanged)="
            onSelectedTargetDistributionGraphItemChanged($event)
          "
          [inputDatas]="distributionDatas?.targetDistributionGraphDatas"
          [variableType]="selectedVariable?.type"
          (graphTypeChanged)="onTargetDistributionGraphTypeChanged($event)"
          [scaleValue]="scaleValue"
          (targetDistributionGraphDisplayedValuesChanged)="
            onTargetDistributionGraphDisplayedValuesChanged($event)
          "
          [activeEntries]="activeEntries"
        ></app-target-distribution-graph>
      }
    </div>
  }
  @if (
    !distributionDatas?.distributionGraphDatas &&
    !distributionDatas?.targetDistributionGraphDatas &&
    !distributionDatas?.histogramDatas
  ) {
    <kl-no-data fxFlexFill> </kl-no-data>
  }
</div>
