<div
  id="variable-graph-details-comp"
  fxLayout="column"
  fxFlexFill
  [ngClass]="{ fullscreen: isFullscreen }"
>
  <div
    fxLayout="column"
    class="histogram-loading-indicator"
    fxLayoutAlign="center center"
    fxFlexFill
    *ngIf="isLoading"
  >
    <mat-spinner
      diameter="40"
      color="accent"
      mode="indeterminate"
    ></mat-spinner>
    <span>{{ 'GLOBAL.BIG_FILES_LOADING_WARNING' | translate }}</span>
  </div>
  <div
    fxLayout="column"
    fxFlexFill
    *ngIf="
      !isLoading &&
      (distributionDatas?.distributionGraphDatas ||
        distributionDatas?.targetDistributionGraphDatas ||
        distributionDatas?.histogramDatas)
    "
  >
    <kl-graph-header
      [selectedVariable]="selectedVariable"
      (scaleValueChanged)="onScaleValueChanged($event)"
      (toggleFullscreen)="onToggleFullscreen($event)"
      [hideScale]="hideScaleElt()"
      [showZoom]="distributionDatas?.histogramDatas ? true : false"
    >
    </kl-graph-header>
    <kl-distribution-graph
      #distributionGraph
      fxFlex="1 1 100%"
      *ngIf="
        showDistributionGraph &&
        distributionDatas?.distributionGraphDatas &&
        !distributionDatas?.histogramDatas
      "
      class="distribution-graph"
      id="{{ 'distribution-graph' + position }}"
      [attr.id]="'distribution-graph' + position"
      [position]="position"
      [scrollPosition]="scrollPosition"
      (scrollPositionChanged)="onScrollPositionChanged($event)"
      [scaleValue]="scaleValue"
      [graphOptions]="distributionDatas?.distributionGraphOptionsY"
      [inputDatas]="distributionDatas?.distributionGraphDatas"
      [variableType]="selectedVariable?.type"
      (graphTypeChanged)="onDistributionGraphTypeChanged($event)"
      [activeEntries]="activeEntries"
      (selectedItemChanged)="onSelectedDistributionGraphItemChanged($event)"
    >
    </kl-distribution-graph>

    <app-histogram
      id="app-histogram"
      class="app-histogram"
      *ngIf="distributionDatas?.histogramDatas"
      fxFlex="1 1 100%"
      [graphOptionsX]="distributionDatas?.distributionGraphOptionsX"
      [graphOptionsY]="distributionDatas?.distributionGraphOptionsY"
      [datas]="distributionDatas?.histogramDatas"
      [selectedItem]="activeEntries"
      (selectedItemChanged)="onSelectedDistributionGraphItemChanged($event)"
      [interpretableHistogramNumber]="
        distributionDatas?.interpretableHistogramNumber
      "
      [defaultInterpretableHistogramNumber]="
        distributionDatas?.defaultInterpretableHistogramNumber - 1
      "
      [histogramNumber]="distributionDatas?.histogramNumber"
      (interpretableHistogramChanged)="onInterpretableHistogramChanged($event)"
    >
    </app-histogram>
    <app-target-distribution-graph
      #targetDistributionGraph
      fxFlex="1 1 100%"
      titleTooltip="{{
        'TOOLTIPS.PREPARATION.TARGET_DISTRIBUTION.TITLE' | translate
      }}"
      [position]="position"
      *ngIf="
        showTargetDistributionGraph &&
        distributionDatas?.targetDistributionGraphDatas
      "
      class="target-distribution-graph"
      id="{{ 'target-distribution-graph' + position }}"
      [attr.id]="'target-distribution-graph' + position"
      [displayedValues]="distributionDatas?.targetDistributionDisplayedValues"
      (scrollPositionChanged)="onScrollPositionChanged($event)"
      [scrollPosition]="scrollPosition"
      (selectedItemChanged)="
        onSelectedTargetDistributionGraphItemChanged($event)
      "
      [inputDatas]="distributionDatas?.targetDistributionGraphDatas"
      (graphTypeChanged)="onTargetDistributionGraphTypeChanged($event)"
      [scaleValue]="scaleValue"
      (targetDistributionGraphDisplayedValuesChanged)="
        onTargetDistributionGraphDisplayedValuesChanged($event)
      "
      [activeEntries]="activeEntries"
    ></app-target-distribution-graph>
  </div>
  <kl-no-data
    fxFlexFill
    *ngIf="
      !distributionDatas?.distributionGraphDatas &&
      !distributionDatas?.targetDistributionGraphDatas &&
      !distributionDatas?.histogramDatas
    "
  >
  </kl-no-data>
</div>
