#tree-hyper-comp {
  height: 100%;
  padding: 0;

  background-color: var(--bgColor) !important;

  #graph-header-comp {
    flex-wrap: wrap;
    div {
      h1 {
        mat-icon {
          padding-right: 0.4em;
          padding-top: 2px;
        }
      }
      kl-btn-fullscreen {
        margin-left: 0.3rem;
        margin-right: 0.3rem;
      }
      .graph-header-tools {
        mat-checkbox {
          margin: 0rem 0 0rem 1rem;
        }

        ::ng-deep mat-checkbox .mdc-form-field label {
          width: 130px !important;
          white-space: normal !important;
          line-height: inherit !important;
          font-size: 0.75rem !important;
          padding: 0 10px 0 0 !important;
        }
      }
    }
  }

  #hyperTree {
    position: relative;
    height: 100%;

    ::ng-deep .unitdisk-nav {
      svg {
        position: absolute !important;

        .caption {
          stroke: transparent;
          fill: var(--bgColorContrast);
        }
      }
    }
  }
}
