<div id="home-layout-comp" role="main">
  <mat-sidenav-container fxFlexFill>
    <mat-sidenav
      #sidenav
      mode="over"
      position="end"
      disableClose="true"
      [(opened)]="opened"
    >
      <app-user-settings
        (toggleNavDrawerChanged)="onToggleNavDrawerChanged($event)"
        [opened]="opened"
      >
      </app-user-settings>
    </mat-sidenav>
    <mat-sidenav-content>
      <div class="container">
        @if (showLogo && isCompatibleJson) {
          <kl-header-title [title]="appTitle"> </kl-header-title>
        }
        <kl-file-loader #fileLoader [hidden]="true"></kl-file-loader>
        <div fxFlexFill [hidden]="!isCompatibleJson || isLoading">
          <mat-tab-group
            #mainTabGroup
            [animationDuration]="0"
            id="main-tab-group"
            color="primary"
            fxFlexFill
            [@.disabled]="true"
            [selectedIndex]="activeTab"
            (selectedTabChange)="onSelectedTabChanged($event)"
          >
            @if (appDatas?.preparationReport) {
              <mat-tab label="{{ 'TITLE.PREPARATION' | translate }}">
                <ng-template matTabLabel>
                  <label
                    title="{{ 'TOOLTIPS.TABS.PREPARATION' | translate }}"
                    >{{ 'TITLE.PREPARATION' | translate }}</label
                  >
                </ng-template>
                <ng-template matTabContent>
                  <app-preparation-view
                    [selectedTab]="selectedTab"
                  ></app-preparation-view>
                </ng-template>
              </mat-tab>
            }
            @if (appDatas?.textPreparationReport) {
              <mat-tab label="{{ 'TITLE.TEXT_PREPARATION' | translate }}">
                <ng-template matTabLabel>
                  <label
                    title="{{ 'TOOLTIPS.TABS.TEXT_PREPARATION' | translate }}"
                    >{{ 'TITLE.TEXT_PREPARATION' | translate }}</label
                  >
                </ng-template>
                <ng-template matTabContent>
                  <app-preparation-view
                    [selectedTab]="selectedTab"
                    [preparationSource]="'textPreparationReport'"
                  ></app-preparation-view>
                </ng-template>
              </mat-tab>
            }
            @if (appDatas?.treePreparationReport) {
              <mat-tab label="{{ 'TITLE.TREE_PREPARATION' | translate }}">
                <ng-template matTabLabel>
                  <label
                    title="{{ 'TOOLTIPS.TABS.TREE_PREPARATION' | translate }}"
                    >{{ 'TITLE.TREE_PREPARATION' | translate }}</label
                  >
                </ng-template>
                <ng-template matTabContent>
                  <app-tree-preparation-view
                    [selectedTab]="selectedTab"
                  ></app-tree-preparation-view>
                </ng-template>
              </mat-tab>
            }
            @if (appDatas?.bivariatePreparationReport) {
              <mat-tab label="{{ 'TITLE.PREPARATION_2D' | translate }}">
                <ng-template matTabLabel>
                  <label
                    title="{{ 'TOOLTIPS.TABS.PREPARATION_2D' | translate }}"
                    >{{ 'TITLE.PREPARATION_2D' | translate }}</label
                  >
                </ng-template>
                <ng-template matTabContent>
                  <app-preparation-2d-view
                    [selectedTab]="selectedTab"
                  ></app-preparation-2d-view>
                </ng-template>
              </mat-tab>
            }
            @if (appDatas?.modelingReport) {
              <mat-tab label="{{ 'TITLE.MODELING' | translate }}">
                <ng-template matTabLabel>
                  <label title="{{ 'TOOLTIPS.TABS.MODELING' | translate }}">{{
                    'TITLE.MODELING' | translate
                  }}</label>
                </ng-template>
                <ng-template matTabContent>
                  <app-modeling-view
                    [selectedTab]="selectedTab"
                  ></app-modeling-view>
                </ng-template>
              </mat-tab>
            }
            @if (
              appDatas?.trainEvaluationReport ||
              appDatas?.evaluationReport ||
              appDatas?.testEvaluationReport
            ) {
              <mat-tab label="{{ 'TITLE.EVALUATION' | translate }}">
                <ng-template matTabLabel>
                  <label title="{{ 'TOOLTIPS.TABS.EVALUATION' | translate }}">{{
                    'TITLE.EVALUATION' | translate
                  }}</label>
                </ng-template>
                <ng-template matTabContent>
                  <app-evaluation-view
                    [selectedTab]="selectedTab"
                  ></app-evaluation-view>
                </ng-template>
              </mat-tab>
            }
            @if (showProjectTab) {
              <mat-tab label="{{ 'TITLE.PROJECT' | translate }}">
                <ng-template matTabLabel>
                  <label title="{{ 'TOOLTIPS.TABS.PROJECT' | translate }}">{{
                    'TITLE.PROJECT' | translate
                  }}</label>
                </ng-template>
                <ng-template matTabContent>
                  <app-project-view
                    [selectedTab]="selectedTab"
                  ></app-project-view>
                </ng-template>
              </mat-tab>
            }
          </mat-tab-group>
        </div>
        <div id="header-right" fxLayoutAlign="start center" layout="row">
          <div fxLayoutAlign="center center" fxLayout="row">
            @if (appDatas && isCompatibleJson) {
              <kl-header-tools
                (toggleNavDrawerChanged)="onToggleNavDrawerChanged($event)"
              >
              </kl-header-tools>
            }
          </div>
        </div>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
