#home-layout-comp {
  #header-right {
    position: absolute;
    top: 0;
    right: 0;
    height: 68px;
    z-index: 1000;

    #more-btn {
      margin-right: 1em;
    }
  }

  #welcome-message {
    position: absolute;
  }

  #main-tab-group {
    > .mat-mdc-tab-body-wrapper {
      flex: 1;
      height: calc(100% - 84px);
      padding: 5px 6px 6px 6px;
    }

    > .mat-tab-header {
      > .mat-tab-label-container {
        > .mat-tab-list {
          display: inline-flex;
          justify-content: center;
          align-items: center;
          white-space: nowrap;
        }
      }
    }
  }
}
