#home-layout-comp {

	#header-right {
		position: absolute;
		top: 0;
		right: 0;
		height: 58px;
		z-index: 1000;

		#more-btn {
			margin-right: 1em;
		}
	}

	#main-tab-group {
		> .mat-tab-body-wrapper {
			flex: 1;
			height: calc(100% - 74px);
			padding: 8px 6px 6px 6px;
		}

		> .mat-tab-header {
			> .mat-tab-label-container {
				> .mat-tab-list {
					display: inline-flex;
					justify-content: center;
					align-items: center;
					white-space: nowrap;
				}
			}
		}
	}
}
