#keyboard-tooltip {
  border: 1px solid var(--primary-10);
  border-radius: 3px;
  border-bottom: 4px solid var(--primary-20);
  padding: 2px 2px 7px 3px;
  font-size: 9px;
  margin-right: 5px;
  cursor: pointer;
  margin-top: 5px;
  margin-left: 5px;
  font-family: monospace !important;
}

#keyboard-tooltip:hover {
  margin-top: 8px;
  border-bottom: 2px solid var(--primary-20);
}
