@import "~@angular/material/theming";
@include mat-core();

$yellowMain: #fbb33a;
$redMain: #fb473a;
$md-khiopsmain: (
	50: #d0d6e9,
	100: #9ba8d2,
	200: #7587c0,
	300: #4a60a3,
	400: #41538e,
	500: #374779,
	600: #2d3b64,
	700: #242e4f,
	800: #1a223a,
	900: #111625,
	A100: #bdcaf2,
	A200: #6785e2,
	A400: #3653ad,
	A700: #3a4f90,
	contrast: (
		50: #000000,
		100: #000000,
		200: #000000,
		300: #ffffff,
		400: #ffffff,
		500: #ffffff,
		600: #ffffff,
		700: #ffffff,
		800: #ffffff,
		900: #ffffff,
		A100: #000000,
		A200: #000000,
		A400: #ffffff,
		A700: #ffffff,
	),
);

$md-khiopsaccent: (
	50: #f6a9d2,
	100: #ef64ae,
	200: #ea3193,
	300: #bf146f,
	400: #a4115f,
	500: #880e4f,
	600: #6c0b3f,
	700: #51082f,
	800: #35051f,
	900: #19030f,
	A100: #ff96ce,
	A200: #ff309e,
	A400: #c5046b,
	A700: #a30c5d,
	contrast: (
		50: #000000,
		100: #000000,
		200: #ffffff,
		300: #ffffff,
		400: #ffffff,
		500: #ffffff,
		600: #ffffff,
		700: #ffffff,
		800: #ffffff,
		900: #ffffff,
		A100: #000000,
		A200: #ffffff,
		A400: #ffffff,
		A700: #ffffff,
	),
);

$primary: mat-palette($md-khiopsmain);
$accent: mat-palette($md-khiopsaccent);
$warn: mat-palette($mat-blue-grey);
$theme: mat-light-theme($primary, $accent, $warn);
@include angular-material-theme($theme);

::ng-deep .dark-theme {
	$md-khiopsmain: (
		50: #ffffff,
		100: #ffffff,
		200: #ffffff,
		300: #ffffff,
		400: #ffffff,
		500: #ffffff,
		600: #f0f0f0,
		700: #e0e0e0,
		800: #d1d1d1,
		900: #c2c2c2,
		A100: #ffffff,
		A200: #ffffff,
		A400: #ffffff,
		A700: #ffffff,
		contrast: (
			50: #000000,
			100: #000000,
			200: #000000,
			300: #000000,
			400: #000000,
			500: #000000,
			600: #000000,
			700: #000000,
			800: #000000,
			900: #000000,
			A100: #000000,
			A200: #000000,
			A400: #000000,
			A700: #000000,
		),
	);

	$yellowMain: #ff6600;
	$redMain: #fb473a;
	$primary: mat-palette($mat-deep-orange);
	$accent: mat-palette($md-khiopsmain);
	$warn: mat-palette($mat-blue-grey);
	$theme: mat-dark-theme($primary, $accent, $warn);
	@include angular-material-theme($theme);
}

[data-color-scheme="dark"] {
	color-scheme: dark;
	--bgColorContrast: #fff;
	--grid: #555;
	--bgColor: #000;
	--bgColor-10: #111;
	--bgColor-20: #222;
	--bgColor-30: #333;
	--bgColor-40: #444;
	--bgColor-50: #555;
	--primary: #ff6600;
	--primary-10: #9b4c17;
	--primary-contrast: #ffffff;
	--primary-contrast-10: #bbb;
	--accent: #ff6600;
	--bgTooltip: #444;
}

[data-color-scheme="light"] {
	color-scheme: light;
	--bgColorContrast: #000;
	--grid: #ddd;
	--bgColor: #fff;
	--bgColor-10: #eee;
	--bgColor-20: #f6f6f6;
	--bgColor-30: #ccc;
	--bgColor-40: #bbb;
	--bgColor-50: #aaa;
	--primary: #374779;
	--primary-10: #1e326d;
	--primary-contrast: #374779;
	--primary-contrast-10: #1e326d;
	--accent: #880e4f;
	--bgTooltip: #444;
}

::ng-deep .unitdisk-nav {
	svg {
		.background-circle {
			fill: var(-bgColor-30) !important;
		}
	}
}

h1 {
	color: var(--accent);
}

.ngx-charts .gridline-path {
	stroke: var(--grid) !important;
}

.ngx-charts .gridline-path {
	stroke: var(--grid) !important;
}

#header-title-comp {
	background: transparent !important;
}

.mat-drawer-content,
.mat-tab-group {
	background: transparent !important;
}
#home-layout-comp #main-tab-group > .mat-tab-body-wrapper {
	background: transparent !important;
}

#project-view-comp,
#preparation-view-comp {
	background: transparent !important;
}
.as-split-gutter {
	background-color: var(--bgColor-20) !important;
}

.as-vertical:not(.as-disabled) > .as-split-gutter:hover,
.as-vertical:not(.as-disabled) > .as-split-gutter:active,
.as-horizontal:not(.as-disabled) > .as-split-gutter:hover,
.as-horizontal:not(.as-disabled) > .as-split-gutter:active {
	background-color: var(--bgColor-30) !important;
	transition: background-color 0.1s ease-in-out 0.1s;
}

.comp-header {
	background: var(--bgColor);
}
.ag-grid-comp {
	background: var(--bgColor) !important;
}
ag-grid-angular {
	background: var(--bgColor) !important;
}

.mat-tab-body {
	background: var(--bgColor-20) !important;
}

as-split-area {
	background: var(--bgColor) !important;
}

::-webkit-scrollbar-thumb {
	background: var(--bgColor-40) !important;
	border: unset !important;
}

::-webkit-scrollbar-thumb:hover {
	background: var(--bgColor-30) !important;
}

::-webkit-scrollbar-thumb:active {
	background: var(--bgColor-30) !important;
}

::-webkit-scrollbar-track {
	background: var(--bgColor) !important;
}

::-webkit-scrollbar-track:hover {
	background: unset !important;
}

::-webkit-scrollbar-track:active {
	background: unset !important;
}

::-webkit-scrollbar-corner {
	background: transparent;
}

.ag-header {
	background: transparent !important;
}

.ag-theme-balham .ag-row-even:not(.ag-row-selected) {
	background: var(--bgColor) !important;
}

.ag-theme-balham .ag-row-odd:not(.ag-row-selected) {
	background: var(--bgColor-20) !important;
}

.ag-row {
	color: var(--bgColorContrast) !important;
}

.ag-grid-comp {
	.comp-header {
		.comp-header-tools {
			.search-input-btn {
				border: 1px solid var(--primary) !important;
			}
		}
	}
}

::ng-deep .mat-badge-content {
	border-color: var(--bgColor) !important;
}
