<div
  class="kl-matrix-contrast-setting"
  fxLayout="column"
  fxLayoutAlign="start start"
>
  <h2>{{ 'GLOBAL.MATRIX_DEFAULT_CONTRAST' | translate }}</h2>
  <div fxLayout="row" fxLayoutAlign="start center">
    <mat-slider
      attr.aria-label="{{
        'ARIA.SETTINGS.UPDATE_DEFAULT_MATRIX_CONTRAST' | translate
      }}"
      [max]="90"
      [min]="0"
      [step]="10"
    >
      <input
        [value]="contrastValue"
        matSliderThumb
        (valueChange)="onChange($event)"
      />
    </mat-slider>
    <span>{{ contrastValue }} %</span>
  </div>
</div>
