name: End-to-end Tests
on:
  push:
    branches:
      - '**' # Only on branches, not on tags
  workflow_dispatch:
permissions:
  contents: read
  id-token: write
  attestations: write

jobs:
  cypress-run:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Build
        run: |
          yarn install
          yarn build:webcomponents

      - name: Generate SBOM
        uses: anchore/sbom-action@v0
        with:
          format: 'spdx-json'
          output-file: 'sbom.spdx.json'
      - name: Attest
        uses: actions/attest-sbom@v3
        with:
          subject-path: '${{ github.workspace }}/dist/'
          sbom-path: 'sbom.spdx.json'

      - name: Cypress run
        uses: cypress-io/github-action@v6
        with:
          start: yarn start
          wait-on: 'http://localhost:4200'

      - name: Archive test results
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: cypress-screenshots
          path: cypress/screenshots
