name: End-to-end Tests
on:
  push:
    branches:
      - '**' # Only on branches, not on tags
  workflow_dispatch:
permissions:
  contents: read

jobs:
  cypress-run:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Cypress run
        uses: cypress-io/github-action@v6
        with:
          build: yarn build:webcomponents
          start: yarn start
          wait-on: 'http://localhost:4200'

      - name: Archive test results
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: cypress-screenshots
          path: cypress/screenshots
