name: Publish to NPM

on: workflow_dispatch

permissions:
  contents: read
  packages: write

jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Fetch complete history
        run: git fetch --prune --unshallow

      - name: 'Get Previous tag'
        id: previoustag
        uses: 'WyriHaximus/github-action-get-previous-tag@v1'
        with:
          prefix: v

      - name: Update package.json version
        run: |
          NEW_VERSION="${PREVTAG:1}" # Remove the 'v' from the tag
          sed -i "s/\"version\": \".*\"/\"version\": \"$NEW_VERSION\"/" projects/khiops-webcomponent/src/package.json
          cat projects/khiops-webcomponent/src/package.json
        env:
          PREVTAG: ${{ steps.previoustag.outputs.tag }}

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Install dependencies
        run: yarn install

      - name: Build
        run: yarn build:webcomponents

      - name: Setup npm authentication
        run: |
          echo "//registry.npmjs.org/:_authToken=${{ secrets.NPM_AUTH_TOKEN }}" > ~/.npmrc
          echo "registry=https://registry.npmjs.org/" >> ~/.npmrc

      - name: Publish to npm
        run: |
          cd dist/khiops-webcomponent
          npm publish --access public
