name: SBOM
on:
  push:
    branches:
      - '**'
  workflow_dispatch:

permissions:
  contents: read
  id-token: write
  attestations: write

jobs:
  sbom:
    runs-on: ubuntu-latest

    steps:
      - name: Check out Git repository
        uses: actions/checkout@v4

      - name: Anchore SBOM Action
        id: sbom
        uses: anchore/sbom-action@v0.20.10

      - name: Attest SBOM
        uses: actions/attest-sbom@v3.0.0
        with:
          sbom-path: ${{ steps.sbom.outputs.sbom }}
