name: Unit Tests
on:
  push:
    branches:
      - '**' # Only on branches, not on tags
  workflow_dispatch:
permissions:
  contents: read

jobs:
  test:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ubuntu-latest]

    steps:
      - name: Check out Git repository
        uses: actions/checkout@v4

      - name: Install Node.js, NPM and Yarn
        uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: 'yarn'

      - name: Install dependencies (skip Cypress)
        run: |
          CYPRESS_INSTALL_BINARY=0 yarn install

      - name: Run unit tests
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          yarn test
