<div id="modeling-view-comp" fxFlexFill>
  <div
    fxLayout="column"
    fxFlexFill
    fxLayoutAlign="center center"
    *ngIf="loadingView"
  >
    <mat-spinner
      diameter="40"
      color="accent"
      mode="indeterminate"
    ></mat-spinner>
  </div>
  <as-split
    [gutterSize]="7"
    *ngIf="!loadingView"
    direction="vertical"
    (dragEnd)="onSplitDragEnd($event, 'row')"
  >
    <as-split-area [size]="sizes?.row[0]">
      <as-split
        [gutterSize]="7"
        direction="horizontal"
        (dragEnd)="onSplitDragEnd($event, 'row0Col')"
      >
        <as-split-area [size]="sizes?.row0Col[0]">
          <kl-informations-block
            id="modeling-informations-block-summary"
            title="{{ 'GLOBAL.SUMMARY' | translate }}"
            [inputDatas]="summaryDatas"
          ></kl-informations-block>
        </as-split-area>
        <as-split-area [size]="sizes?.row0Col[1]">
          <app-target-variable-stats
            *ngIf="targetVariableStatsDatas"
            id="modeling-target-variable-stats"
            fxFlexFill
            [inputDatas]="targetVariableStatsDatas"
          >
          </app-target-variable-stats>
          <kl-no-data
            fxFlexFill
            *ngIf="
              !targetVariableStatsDatas && !targetVariableStatsInformations
            "
            [message]="'NO_DATAS.NO_VARIABLE_DETAILS'"
          >
          </kl-no-data>
          <kl-informations-block
            id="preparation-informations-block-summary"
            *ngIf="targetVariableStatsInformations && !targetVariableStatsDatas"
            title="{{ 'GLOBAL.TARGET_VARIABLE_STATS' | translate }}"
            [inputDatas]="targetVariableStatsInformations"
          ></kl-informations-block>
        </as-split-area>
        <as-split-area [size]="sizes?.row0Col[2]">
          <kl-informations-block
            id="modeling-informations-block-informations"
            title="{{ 'GLOBAL.TRAINED_PREDICTORS' | translate }}"
            icon="subject"
            [inputDatas]="trainedPredictorsSummaryDatas"
          ></kl-informations-block>
        </as-split-area>
      </as-split>
    </as-split-area>

    <as-split-area [size]="sizes?.row[1]">
      <app-select-trained-predictor
        [inputDatas]="trainedPredictors"
        (selectedPredictorChanged)="onSelectedPredictorChanged($event)"
      ></app-select-trained-predictor>

      <as-split
        class="trained-predictor-details-container"
        [gutterSize]="7"
        direction="horizontal"
        (dragEnd)="onSplitDragEnd($event, 'row1Col')"
      >
        <as-split-area [size]="sizes?.row1Col[0]">
          <as-split
            [gutterSize]="7"
            *ngIf="(modelingDatas$ | async)?.trainedPredictorsListDatas"
            direction="vertical"
            (dragEnd)="onSplitDragEnd($event, 'row1Col0Row')"
          >
            <as-split-area class="variables-list-container">
              <kl-ag-grid
                id="modeling-variables-list"
                class="variables-list"
                fxFlexFill
                titleTooltip="{{
                  'TOOLTIPS.MODELING.VARIABLES.TITLE' | translate
                }}"
                [showLevelDistribution]="true"
                [showSearch]="true"
                [watchResize]="true"
                [displayCount]="true"
                [selectedVariable]="(modelingDatas$ | async)?.selectedVariable"
                (selectListItem)="onSelectListItemChanged($event)"
                [showLineSelection]="true"
                [showColumnsSelection]="true"
                [rowHeight]="30"
                [inputDatas]="(modelingDatas$ | async)?.trainedPredictorsListDatas"
                (showLevelDistributionGraph)="
                  onShowLevelDistributionGraph($event)
                "
                [displayedColumns]="trainedPredictorsDisplayedColumns"
              >
              </kl-ag-grid>
            </as-split-area>
          </as-split>
          <kl-no-data
            fxFlexFill
            *ngIf="!(modelingDatas$ | async)?.trainedPredictorsListDatas"
            [message]="'NO_DATAS.NO_PREDICTORS_DETAILS'"
          ></kl-no-data>
        </as-split-area>
        <as-split-area [size]="sizes?.row1Col[1]">
          <app-var-details-preparation
            [preparationSource]="preparationSource"
            *ngIf="
              (modelingDatas$ | async)?.selectedVariable?.variableType === 'preparation' ||
              (modelingDatas$ | async)?.selectedVariable?.variableType ===
                'text-preparation'
            "
          >
          </app-var-details-preparation>
          <app-var-details-preparation-2d
            *ngIf="
              (modelingDatas$ | async)?.selectedVariable?.variableType === 'preparation-2d'
            "
          >
          </app-var-details-preparation-2d>
          <app-var-details-tree-preparation
            *ngIf="
              (modelingDatas$ | async)?.selectedVariable?.variableType ===
              'tree-preparation'
            "
          >
          </app-var-details-tree-preparation>
          <kl-no-data
            fxFlexFill
            *ngIf="
              !(modelingDatas$ | async)?.trainedPredictorsListDatas ||
              !(modelingDatas$ | async)?.selectedVariable
            "
            [message]="'NO_DATAS.NO_PREDICTORS_DETAILS'"
          ></kl-no-data>
        </as-split-area>
      </as-split>
    </as-split-area>
  </as-split>
</div>
