<div class="selected-clusters-comp" fxLayout="column" fxFlexFill>
  <kl-ag-grid
    id="selected-clusters-grid"
    fxFlexFill
    [selectedVariable]="activeClusters"
    [rowSelection]="'multiple'"
    titleTooltip="{{ 'TOOLTIPS.AXIS.SELECTED_CLUSTERS.TITLE' | translate }}"
    [showSearch]="false"
    [suppressRowClickSelection]="true"
    [showColumnsSelection]="false"
    [inputDatas]="selectedClusters"
    [title]="title"
    [watchResize]="true"
    [displayedColumns]="clustersDisplayedColumns"
  ></kl-ag-grid>
</div>
