<div class="selected-clusters-comp" fxLayout="column" fxFlexFill>
	<kl-ag-grid
		id="selected-clusters-grid"
		fxFlexFill
		[showLevelDistribution]="false"
		[smallTitle]="true"
		[paginationSize]="50"
		[selectedVariable]="activeClusters"
		[rowSelection]="'multiple'"
		[showSearch]="false"
		[suppressRowClickSelection]="true"
		[updateValues]="updateValues"
		[showColumnsSelection]="false"
		[inputDatas]="selectedClusters"
		[title]="title"
		[watchResize]="true"
		[displayedColumns]="clustersDisplayedColumns"
	></kl-ag-grid>
</div>
